In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import SparkSession
import getpass
username = getpass.getuser()
spark= SparkSession. \
builder. \
config('spark.ui.port','0'). \
config("spark.sql.warehouse.dir", f"/user/itv009033/warehouse"). \
enableHiveSupport(). \
master('yarn'). \
getOrCreate()

In [2]:
# spark.stop()

In [2]:
spark

# Question 2 : Use the dataset given in HDFS (path : /public/trendytech/retail_db/products) :
``ProductID, Category, ProductName, Description(here no data is given), Price,
ImageURL``

In [3]:
products_df = spark.read.format('csv')\
                    .option('header', 'true')\
                    .option('inferschema','true')\
                    .option("mode", "DROPMALFORMED")\
                    .load("/user/itv009033/products_folder/products_wh_data.csv")

In [4]:
products_df.show(truncate = False)

+----------+--------+---------------------------------------------+-----------+------+------------------------------------------------------------------------------------------------+
|product_id|category|product_name                                 |description|price |image_url                                                                                       |
+----------+--------+---------------------------------------------+-----------+------+------------------------------------------------------------------------------------------------+
|1         |2       |Quest Q64 10 FT. x 10 FT. Slant Leg Instant U|null       |59.98 |http://images.acmesports.sports/Quest+Q64+10+FT.+x+10+FT.+Slant+Leg+Instant+Up+Canopy           |
|2         |2       |Under Armour Men's Highlight MC Football Clea|null       |129.99|http://images.acmesports.sports/Under+Armour+Men%27s+Highlight+MC+Football+Cleat                |
|3         |2       |Under Armour Men's Renegade D Mid Football Cl|null       |89.99 |http://images.acmesports.sports/Under+Armour+Men%27s+Renegade+D+Mid+Football+Cleat              |
|4         |2       |Under Armour Men's Renegade D Mid Football Cl|null       |89.99 |http://images.acmesports.sports/Under+Armour+Men%27s+Renegade+D+Mid+Football+Cleat              |
|5         |2       |Riddell Youth Revolution Speed Custom Footbal|null       |199.99|http://images.acmesports.sports/Riddell+Youth+Revolution+Speed+Custom+Football+Helmet           |
|6         |2       |Jordan Men's VI Retro TD Football Cleat      |null       |134.99|http://images.acmesports.sports/Jordan+Men%27s+VI+Retro+TD+Football+Cleat                       |
|7         |2       |Schutt Youth Recruit Hybrid Custom Football H|null       |99.99 |http://images.acmesports.sports/Schutt+Youth+Recruit+Hybrid+Custom+Football+Helmet+2014         |
|8         |2       |Nike Men's Vapor Carbon Elite TD Football Cle|null       |129.99|http://images.acmesports.sports/Nike+Men%27s+Vapor+Carbon+Elite+TD+Football+Cleat               |
|9         |2       |Nike Adult Vapor Jet 3.0 Receiver Gloves     |null       |50.0  |http://images.acmesports.sports/Nike+Adult+Vapor+Jet+3.0+Receiver+Gloves                        |
|10        |2       |Under Armour Men's Highlight MC Football Clea|null       |129.99|http://images.acmesports.sports/Under+Armour+Men%27s+Highlight+MC+Football+Cleat                |
|11        |2       |Fitness Gear 300 lb Olympic Weight Set       |null       |209.99|http://images.acmesports.sports/Fitness+Gear+300+lb+Olympic+Weight+Set                          |
|12        |2       |Under Armour Men's Highlight MC Alter Ego Fla|null       |139.99|http://images.acmesports.sports/Under+Armour+Men%27s+Highlight+MC+Alter+Ego+Flash+Football...   |
|13        |2       |Under Armour Men's Renegade D Mid Football Cl|null       |89.99 |http://images.acmesports.sports/Under+Armour+Men%27s+Renegade+D+Mid+Football+Cleat              |
|14        |2       |Quik Shade Summit SX170 10 FT. x 10 FT. Canop|null       |199.99|http://images.acmesports.sports/Quik+Shade+Summit+SX170+10+FT.+x+10+FT.+Canopy                  |
|15        |2       |Under Armour Kids' Highlight RM Alter Ego Sup|null       |59.99 |http://images.acmesports.sports/Under+Armour+Kids%27+Highlight+RM+Alter+Ego+Superman+Football...|
|16        |2       |Riddell Youth 360 Custom Football Helmet     |null       |299.99|http://images.acmesports.sports/Riddell+Youth+360+Custom+Football+Helmet                        |
|17        |2       |Under Armour Men's Highlight MC Football Clea|null       |129.99|http://images.acmesports.sports/Under+Armour+Men%27s+Highlight+MC+Football+Cleat                |
|18        |2       |Reebok Men's Full Zip Training Jacket        |null       |29.97 |http://images.acmesports.sports/Reebok+Men%27s+Full+Zip+Training+Jacket                         |
|19        |2       |Nike Men's Fingertrap Max Training Shoe      |null       |124.99|http://images.acmesports.sports/Nike+Men%27s+Fingertrap+Max+Training+Shoe                       |
|20        |2       |Under Armour Men's Highlight MC Football Clea|null       |129.99|http://images.acmesports.sports/Under+Armour+Men%27s+Highlight+MC+Football+Cleat                |
+----------+--------+---------------------------------------------+-----------+------+------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [5]:
products_df.printSchema()

root
 |-- product_id: integer (nullable = true)
 |-- category: integer (nullable = true)
 |-- product_name: string (nullable = true)
 |-- description: string (nullable = true)
 |-- price: double (nullable = true)
 |-- image_url: string (nullable = true)

In [6]:
spark.sql("show databases").show(truncate = False)

+-----------------------------------+
|namespace                          |
+-----------------------------------+
|00000assign7_itv006450             |
|0001_av_ivy_tesco                  |
|001_retail                         |
|003402_hive1                       |
|005198_ivy_tesco                   |
|005212_ivy_tesco                   |
|005222_ivy_practice                |
|005260_ivy_database                |
|005876_week5_assignment            |
|005933_retail                      |
|006018_trendytech_assignments_week5|
|006539_week5                       |
|006539_week5_1                     |
|006586_database                    |
|006608_database                    |
|006866_week5_assignment            |
|007384_w5_db                       |
|008057_bucketing_db                |
|008211_week5                       |
|008228trendytechweek5              |
+-----------------------------------+
only showing top 20 rows

In [7]:
spark.sql("use itv009033_week5_assignment")

++
||
++
++

In [8]:
spark.sql("show tables")

+--------------------+---------+-----------+
|            database|tableName|isTemporary|
+--------------------+---------+-----------+
|itv009033_week5_a...|  product|      false|
+--------------------+---------+-----------+

In [9]:
products_df.createOrReplaceTempView("products")

In [10]:
spark.sql("show tables")

+--------------------+---------+-----------+
|            database|tableName|isTemporary|
+--------------------+---------+-----------+
|itv009033_week5_a...|  product|      false|
|                    | products|       true|
+--------------------+---------+-----------+

In [11]:
products_df.printSchema()

root
 |-- product_id: integer (nullable = true)
 |-- category: integer (nullable = true)
 |-- product_name: string (nullable = true)
 |-- description: string (nullable = true)
 |-- price: double (nullable = true)
 |-- image_url: string (nullable = true)

In [12]:
spark.sql("create table if not exists itv009033_week5_assignment.product(product_id int, category int, product_name string, description string, price float, image_url string)")

++
||
++
++

In [13]:
spark.sql("show tables").show(truncate = False)

+--------------------------+---------+-----------+
|database                  |tableName|isTemporary|
+--------------------------+---------+-----------+
|itv009033_week5_assignment|product  |false      |
|                          |products |true       |
+--------------------------+---------+-----------+

In [14]:
spark.sql("select * from products").show()

+----------+--------+--------------------+-----------+------+--------------------+
|product_id|category|        product_name|description| price|           image_url|
+----------+--------+--------------------+-----------+------+--------------------+
|         1|       2|Quest Q64 10 FT. ...|       null| 59.98|http://images.acm...|
|         2|       2|Under Armour Men'...|       null|129.99|http://images.acm...|
|         3|       2|Under Armour Men'...|       null| 89.99|http://images.acm...|
|         4|       2|Under Armour Men'...|       null| 89.99|http://images.acm...|
|         5|       2|Riddell Youth Rev...|       null|199.99|http://images.acm...|
|         6|       2|Jordan Men's VI R...|       null|134.99|http://images.acm...|
|         7|       2|Schutt Youth Recr...|       null| 99.99|http://images.acm...|
|         8|       2|Nike Men's Vapor ...|       null|129.99|http://images.acm...|
|         9|       2|Nike Adult Vapor ...|       null|  50.0|http://images.acm...|
|        10|       2|Under Armour Men'...|       null|129.99|http://images.acm...|
|        11|       2|Fitness Gear 300 ...|       null|209.99|http://images.acm...|
|        12|       2|Under Armour Men'...|       null|139.99|http://images.acm...|
|        13|       2|Under Armour Men'...|       null| 89.99|http://images.acm...|
|        14|       2|Quik Shade Summit...|       null|199.99|http://images.acm...|
|        15|       2|Under Armour Kids...|       null| 59.99|http://images.acm...|
|        16|       2|Riddell Youth 360...|       null|299.99|http://images.acm...|
|        17|       2|Under Armour Men'...|       null|129.99|http://images.acm...|
|        18|       2|Reebok Men's Full...|       null| 29.97|http://images.acm...|
|        19|       2|Nike Men's Finger...|       null|124.99|http://images.acm...|
|        20|       2|Under Armour Men'...|       null|129.99|http://images.acm...|
+----------+--------+--------------------+-----------+------+--------------------+
only showing top 20 rows

In [15]:
spark.sql("insert into itv009033_week5_assignment.product select * from products").show()

++
||
++
++

In [16]:
spark.sql("select * from product")

+----------+--------+--------------------+-----------+------+--------------------+
|product_id|category|        product_name|description| price|           image_url|
+----------+--------+--------------------+-----------+------+--------------------+
|         1|       2|Quest Q64 10 FT. ...|       null| 59.98|http://images.acm...|
|         2|       2|Under Armour Men'...|       null|129.99|http://images.acm...|
|         3|       2|Under Armour Men'...|       null| 89.99|http://images.acm...|
|         4|       2|Under Armour Men'...|       null| 89.99|http://images.acm...|
|         5|       2|Riddell Youth Rev...|       null|199.99|http://images.acm...|
|         6|       2|Jordan Men's VI R...|       null|134.99|http://images.acm...|
|         7|       2|Schutt Youth Recr...|       null| 99.99|http://images.acm...|
|         8|       2|Nike Men's Vapor ...|       null|129.99|http://images.acm...|
|         9|       2|Nike Adult Vapor ...|       null|  50.0|http://images.acm...|
|        10|       2|Under Armour Men'...|       null|129.99|http://images.acm...|
|        11|       2|Fitness Gear 300 ...|       null|209.99|http://images.acm...|
|        12|       2|Under Armour Men'...|       null|139.99|http://images.acm...|
|        13|       2|Under Armour Men'...|       null| 89.99|http://images.acm...|
|        14|       2|Quik Shade Summit...|       null|199.99|http://images.acm...|
|        15|       2|Under Armour Kids...|       null| 59.99|http://images.acm...|
|        16|       2|Riddell Youth 360...|       null|299.99|http://images.acm...|
|        17|       2|Under Armour Men'...|       null|129.99|http://images.acm...|
|        18|       2|Reebok Men's Full...|       null| 29.97|http://images.acm...|
|        19|       2|Nike Men's Finger...|       null|124.99|http://images.acm...|
|        20|       2|Under Armour Men'...|       null|129.99|http://images.acm...|
+----------+--------+--------------------+-----------+------+--------------------+
only showing top 20 rows

# 2.1. Find the total number of products in the given dataset

<h3> Dataframe </h3>

In [17]:
results_df = products_df.count()

In [18]:
results_df

1346

# 2.2. Find the number of unique categories of products in the given dataset.

In [19]:
results_df = products_df.select("category").distinct().count()

In [20]:
results_df

55

# 2.3. Find the top 5 most expensive products based on their price, along with their product name, category, and image URL.

In [21]:
results_df = products_df.select("product_name", "category", "price").orderBy("price", ascending = False).limit(5)

In [22]:
results_df.show(truncate =False)

+------------------------------------------------+--------+-------+
|product_name                                    |category|price  |
+------------------------------------------------+--------+-------+
|SOLE E35 Elliptical                             |10      |1999.99|
|SOLE F85 Treadmill                              |4       |1799.99|
|SOLE F85 Treadmill                              |10      |1799.99|
|SOLE F85 Treadmill                              |22      |1799.99|
|"Spalding Beast 60"" Glass Portable Basketball "|47      |1099.99|
+------------------------------------------------+--------+-------+

# 2.4. Find the number of products in each category that have a price greater than $100 Display the results in a tabular format that shows the category name and the number of products that satisfy the condition.

In [39]:
products_df.select("product_name","category","price").filter("price>100").sort("price", ascending = False).limit(5).show(truncate = False)

+------------------------------------------------+--------+-------+
|product_name                                    |category|price  |
+------------------------------------------------+--------+-------+
|SOLE E35 Elliptical                             |10      |1999.99|
|SOLE F85 Treadmill                              |4       |1799.99|
|SOLE F85 Treadmill                              |10      |1799.99|
|SOLE F85 Treadmill                              |22      |1799.99|
|"Spalding Beast 60"" Glass Portable Basketball "|47      |1099.99|
+------------------------------------------------+--------+-------+

# 2.5. What are the product names and prices of products that have a price greater than $200 and belong to category 5?

In [40]:
products_df.select("product_name","category","price").filter("price>200 and category = 5").sort("price", ascending = False).limit(5).show(truncate = False)

+------------------------------------------------+--------+------+
|product_name                                    |category|price |
+------------------------------------------------+--------+------+
|"Goaliath 54"" In-Ground Basketball Hoop with P"|5       |499.99|
|Teeter Hang Ups NXT-S Inversion Table           |5       |299.99|
|Fitness Gear 300 lb Olympic Weight Set          |5       |209.99|
+------------------------------------------------+--------+------+

<h3> SQL </h3>

In [23]:
spark.sql("select count(*) from product")

+--------+
|count(1)|
+--------+
|    2690|
+--------+

In [42]:
spark.sql("select COUNT(DISTINCT category) as unique_categories from product")

+-----------------+
|unique_categories|
+-----------------+
|               55|
+-----------------+

In [28]:
spark.sql("select product_name,category,price from product order by price desc limit 5")

+-------------------+--------+-------+
|       product_name|category|  price|
+-------------------+--------+-------+
|SOLE E35 Elliptical|      10|1999.99|
|SOLE E35 Elliptical|      10|1999.99|
| SOLE F85 Treadmill|       4|1799.99|
| SOLE F85 Treadmill|      10|1799.99|
| SOLE F85 Treadmill|      22|1799.99|
+-------------------+--------+-------+

In [29]:
spark.sql("select category,count(*) as counter from product where price>100 group by 1")

+--------+-------+
|category|counter|
+--------+-------+
|      31|     34|
|      53|     32|
|      34|     30|
|      44|     18|
|      12|      6|
|      22|      8|
|      47|     20|
|      52|     10|
|      13|      2|
|       6|     10|
|      16|     22|
|       3|     10|
|      20|     14|
|      57|     12|
|      54|     12|
|      48|     34|
|       5|     22|
|      19|     26|
|      41|     22|
|      43|     46|
+--------+-------+
only showing top 20 rows

In [30]:
spark.sql("select product_name,category,price from product where price>200 and category = 5").show(truncate = False)

+------------------------------------------------+--------+------+
|product_name                                    |category|price |
+------------------------------------------------+--------+------+
|"Goaliath 54"" In-Ground Basketball Hoop with P"|5       |499.99|
|Fitness Gear 300 lb Olympic Weight Set          |5       |209.99|
|Teeter Hang Ups NXT-S Inversion Table           |5       |299.99|
|"Goaliath 54"" In-Ground Basketball Hoop with P"|5       |499.99|
|Fitness Gear 300 lb Olympic Weight Set          |5       |209.99|
|Teeter Hang Ups NXT-S Inversion Table           |5       |299.99|
+------------------------------------------------+--------+------+