In [2]:
from pyspark.sql import SparkSession
import getpass
username = getpass.getuser()
spark= SparkSession. \
builder. \
config('spark.ui.port','0'). \
config("spark.sql.warehouse.dir", f"/user/itv009033/warehouse"). \
enableHiveSupport(). \
master('yarn'). \
getOrCreate()

In [3]:
spark

# Question 3 : Use the dataset given in HDFS(path: /public/trendytech/retail_db/customers)

In [4]:
customers_df = spark.read.format('csv')\
                    .option('header', 'true')\
                    .option('inferschema','true')\
                    .option("mode", "DROPMALFORMED")\
                    .load("/user/itv009033/customers_folder/final_customers.csv")

In [5]:
spark.sql("show databases")

+--------------------+
|           namespace|
+--------------------+
|00000assign7_itv0...|
|   0001_av_ivy_tesco|
|          001_retail|
|        003402_hive1|
|    005198_ivy_tesco|
|    005212_ivy_tesco|
| 005222_ivy_practice|
| 005260_ivy_database|
|005876_week5_assi...|
|       005933_retail|
|006018_trendytech...|
|        006539_week5|
|      006539_week5_1|
|     006586_database|
|     006608_database|
|006866_week5_assi...|
|        007384_w5_db|
| 008057_bucketing_db|
|        008211_week5|
|008228trendytechw...|
+--------------------+
only showing top 20 rows

In [6]:
customers_df.show(truncate = False)

+-------+-----------+----------+----------+-------------+---------------------------+-------------+----------+------------+
|cust_id|cust_fname |cust_lname|cust_email|cust_password|cust_street                |cust_city    |cust_state|cust_zipcode|
+-------+-----------+----------+----------+-------------+---------------------------+-------------+----------+------------+
|1      |Richard    |Hernandez |XXXXXXXXX |XXXXXXXXX    |6303 Heather Plaza         |Brownsville  |TX        |78521       |
|2      |Mary       |Barrett   |XXXXXXXXX |XXXXXXXXX    |9526 Noble Embers Ridge    |Littleton    |CO        |80126       |
|3      |Ann        |Smith     |XXXXXXXXX |XXXXXXXXX    |3422 Blue Pioneer Bend     |Caguas       |PR        |725         |
|4      |Mary       |Jones     |XXXXXXXXX |XXXXXXXXX    |8324 Little Common         |San Marcos   |CA        |92069       |
|5      |Robert     |Hudson    |XXXXXXXXX |XXXXXXXXX    |10 Crystal River Mall      |Caguas       |PR        |725         |
|6      |Mary       |Smith     |XXXXXXXXX |XXXXXXXXX    |3151 Sleepy Quail Promenade|Passaic      |NJ        |7055        |
|7      |Melissa    |Wilcox    |XXXXXXXXX |XXXXXXXXX    |9453 High Concession       |Caguas       |PR        |725         |
|8      |Megan      |Smith     |XXXXXXXXX |XXXXXXXXX    |3047 Foggy Forest Plaza    |Lawrence     |MA        |1841        |
|9      |Mary       |Perez     |XXXXXXXXX |XXXXXXXXX    |3616 Quaking Street        |Caguas       |PR        |725         |
|10     |Melissa    |Smith     |XXXXXXXXX |XXXXXXXXX    |8598 Harvest Beacon Plaza  |Stafford     |VA        |22554       |
|11     |Mary       |Huffman   |XXXXXXXXX |XXXXXXXXX    |3169 Stony Woods           |Caguas       |PR        |725         |
|12     |Christopher|Smith     |XXXXXXXXX |XXXXXXXXX    |5594 Jagged Embers By-pass |San Antonio  |TX        |78227       |
|13     |Mary       |Baldwin   |XXXXXXXXX |XXXXXXXXX    |7922 Iron Oak Gardens      |Caguas       |PR        |725         |
|14     |Katherine  |Smith     |XXXXXXXXX |XXXXXXXXX    |5666 Hazy Pony Square      |Pico Rivera  |CA        |90660       |
|15     |Jane       |Luna      |XXXXXXXXX |XXXXXXXXX    |673 Burning Glen           |Fontana      |CA        |92336       |
|16     |Tiffany    |Smith     |XXXXXXXXX |XXXXXXXXX    |6651 Iron Port             |Caguas       |PR        |725         |
|17     |Mary       |Robinson  |XXXXXXXXX |XXXXXXXXX    |1325 Noble Pike            |Taylor       |MI        |48180       |
|18     |Robert     |Smith     |XXXXXXXXX |XXXXXXXXX    |2734 Hazy Butterfly Circle |Martinez     |CA        |94553       |
|19     |Stephanie  |Mitchell  |XXXXXXXXX |XXXXXXXXX    |3543 Red Treasure Bay      |Caguas       |PR        |725         |
|20     |Mary       |Ellis     |XXXXXXXXX |XXXXXXXXX    |4703 Old Route             |West New York|NJ        |7093        |
+-------+-----------+----------+----------+-------------+---------------------------+-------------+----------+------------+
only showing top 20 rows

In [8]:
spark.sql("use itv009033_week5_assignment")

++
||
++
++

In [9]:
customers_df.printSchema()

root
 |-- cust_id: integer (nullable = true)
 |-- cust_fname: string (nullable = true)
 |-- cust_lname: string (nullable = true)
 |-- cust_email: string (nullable = true)
 |-- cust_password: string (nullable = true)
 |-- cust_street: string (nullable = true)
 |-- cust_city: string (nullable = true)
 |-- cust_state: string (nullable = true)
 |-- cust_zipcode: integer (nullable = true)

In [11]:
customers_df.createOrReplaceTempView("customer")

In [12]:
spark.sql("show tables").show(truncate = False)

+--------------------------+---------+-----------+
|database                  |tableName|isTemporary|
+--------------------------+---------+-----------+
|itv009033_week5_assignment|customers|false      |
|itv009033_week5_assignment|product  |false      |
|                          |customer |true       |
+--------------------------+---------+-----------+

In [13]:
spark.sql("drop table customers")

++
||
++
++

In [14]:
spark.sql("show tables").show(truncate = False)

+--------------------------+---------+-----------+
|database                  |tableName|isTemporary|
+--------------------------+---------+-----------+
|itv009033_week5_assignment|product  |false      |
|                          |customer |true       |
+--------------------------+---------+-----------+

In [15]:
spark.sql("create table if not exists itv009033_week5_assignment.customers(cust_id int, cust_fname string, cust_lname string, cust_email string, cust_password string, cust_street string, cust_city string, cust_state string, cust_zipcode int)")

++
||
++
++

In [16]:
spark.sql("show tables").show(truncate = False)

+--------------------------+---------+-----------+
|database                  |tableName|isTemporary|
+--------------------------+---------+-----------+
|itv009033_week5_assignment|customers|false      |
|itv009033_week5_assignment|product  |false      |
|                          |customer |true       |
+--------------------------+---------+-----------+

In [17]:
spark.sql("insert into itv009033_week5_assignment.customers select * from customer").show()

++
||
++
++

In [18]:
spark.sql("select * from customers").show(truncate = False)

+-------+-----------+----------+----------+-------------+---------------------------+-------------+----------+------------+
|cust_id|cust_fname |cust_lname|cust_email|cust_password|cust_street                |cust_city    |cust_state|cust_zipcode|
+-------+-----------+----------+----------+-------------+---------------------------+-------------+----------+------------+
|1      |Richard    |Hernandez |XXXXXXXXX |XXXXXXXXX    |6303 Heather Plaza         |Brownsville  |TX        |78521       |
|2      |Mary       |Barrett   |XXXXXXXXX |XXXXXXXXX    |9526 Noble Embers Ridge    |Littleton    |CO        |80126       |
|3      |Ann        |Smith     |XXXXXXXXX |XXXXXXXXX    |3422 Blue Pioneer Bend     |Caguas       |PR        |725         |
|4      |Mary       |Jones     |XXXXXXXXX |XXXXXXXXX    |8324 Little Common         |San Marcos   |CA        |92069       |
|5      |Robert     |Hudson    |XXXXXXXXX |XXXXXXXXX    |10 Crystal River Mall      |Caguas       |PR        |725         |
|6      |Mary       |Smith     |XXXXXXXXX |XXXXXXXXX    |3151 Sleepy Quail Promenade|Passaic      |NJ        |7055        |
|7      |Melissa    |Wilcox    |XXXXXXXXX |XXXXXXXXX    |9453 High Concession       |Caguas       |PR        |725         |
|8      |Megan      |Smith     |XXXXXXXXX |XXXXXXXXX    |3047 Foggy Forest Plaza    |Lawrence     |MA        |1841        |
|9      |Mary       |Perez     |XXXXXXXXX |XXXXXXXXX    |3616 Quaking Street        |Caguas       |PR        |725         |
|10     |Melissa    |Smith     |XXXXXXXXX |XXXXXXXXX    |8598 Harvest Beacon Plaza  |Stafford     |VA        |22554       |
|11     |Mary       |Huffman   |XXXXXXXXX |XXXXXXXXX    |3169 Stony Woods           |Caguas       |PR        |725         |
|12     |Christopher|Smith     |XXXXXXXXX |XXXXXXXXX    |5594 Jagged Embers By-pass |San Antonio  |TX        |78227       |
|13     |Mary       |Baldwin   |XXXXXXXXX |XXXXXXXXX    |7922 Iron Oak Gardens      |Caguas       |PR        |725         |
|14     |Katherine  |Smith     |XXXXXXXXX |XXXXXXXXX    |5666 Hazy Pony Square      |Pico Rivera  |CA        |90660       |
|15     |Jane       |Luna      |XXXXXXXXX |XXXXXXXXX    |673 Burning Glen           |Fontana      |CA        |92336       |
|16     |Tiffany    |Smith     |XXXXXXXXX |XXXXXXXXX    |6651 Iron Port             |Caguas       |PR        |725         |
|17     |Mary       |Robinson  |XXXXXXXXX |XXXXXXXXX    |1325 Noble Pike            |Taylor       |MI        |48180       |
|18     |Robert     |Smith     |XXXXXXXXX |XXXXXXXXX    |2734 Hazy Butterfly Circle |Martinez     |CA        |94553       |
|19     |Stephanie  |Mitchell  |XXXXXXXXX |XXXXXXXXX    |3543 Red Treasure Bay      |Caguas       |PR        |725         |
|20     |Mary       |Ellis     |XXXXXXXXX |XXXXXXXXX    |4703 Old Route             |West New York|NJ        |7093        |
+-------+-----------+----------+----------+-------------+---------------------------+-------------+----------+------------+
only showing top 20 rows

# 3.1. Find the total number of customers in each state.

In [19]:
customers_df.select("cust_state").groupBy("cust_state").count().sort("count", ascending = False).show()

+----------+-----+
|cust_state|count|
+----------+-----+
|        PR| 4771|
|        CA| 2012|
|        NY|  775|
|        TX|  635|
|        IL|  523|
|        FL|  374|
|        OH|  276|
|        PA|  261|
|        MI|  254|
|        NJ|  219|
|        AZ|  213|
|        GA|  169|
|        MD|  164|
|        NC|  150|
|        VA|  136|
|        CO|  122|
|        OR|  119|
|        MA|  113|
|        TN|  104|
|        NV|  103|
+----------+-----+
only showing top 20 rows

In [20]:
spark.sql("select cust_state, count(*) as count_of_states from customers group by 1 order by count(*) desc").show()

+----------+---------------+
|cust_state|count_of_states|
+----------+---------------+
|        PR|           4771|
|        CA|           2012|
|        NY|            775|
|        TX|            635|
|        IL|            523|
|        FL|            374|
|        OH|            276|
|        PA|            261|
|        MI|            254|
|        NJ|            219|
|        AZ|            213|
|        GA|            169|
|        MD|            164|
|        NC|            150|
|        VA|            136|
|        CO|            122|
|        OR|            119|
|        MA|            113|
|        TN|            104|
|        NV|            103|
+----------+---------------+
only showing top 20 rows

# 3.2. Find the top 5 most common last names among the customers

In [21]:
customers_df.select("cust_lname").groupBy("cust_lname").count().sort("count",ascending = False).limit(5).show(truncate = False)

+----------+-----+
|cust_lname|count|
+----------+-----+
|Smith     |4626 |
|Johnson   |76   |
|Williams  |69   |
|Jones     |65   |
|Brown     |62   |
+----------+-----+

In [22]:
spark.sql("select cust_lname, count(cust_lname) as last_name_counter from customers group by 1 order by last_name_counter desc limit 5").show()

+----------+-----------------+
|cust_lname|last_name_counter|
+----------+-----------------+
|     Smith|             4626|
|   Johnson|               76|
|  Williams|               69|
|     Jones|               65|
|     Brown|               62|
+----------+-----------------+

# 3.3. Check whether there are any customers whose zip codes are not valid (i.e., not equal to 5 digits).

In [23]:
from pyspark.sql.functions import length

In [24]:
customers_df.select("*").filter(length("cust_zipcode")!=5).show()

+-------+----------+----------+----------+-------------+--------------------+-------------+----------+------------+
|cust_id|cust_fname|cust_lname|cust_email|cust_password|         cust_street|    cust_city|cust_state|cust_zipcode|
+-------+----------+----------+----------+-------------+--------------------+-------------+----------+------------+
|      3|       Ann|     Smith| XXXXXXXXX|    XXXXXXXXX|3422 Blue Pioneer...|       Caguas|        PR|         725|
|      5|    Robert|    Hudson| XXXXXXXXX|    XXXXXXXXX|10 Crystal River ...|       Caguas|        PR|         725|
|      6|      Mary|     Smith| XXXXXXXXX|    XXXXXXXXX|3151 Sleepy Quail...|      Passaic|        NJ|        7055|
|      7|   Melissa|    Wilcox| XXXXXXXXX|    XXXXXXXXX|9453 High Concession|       Caguas|        PR|         725|
|      8|     Megan|     Smith| XXXXXXXXX|    XXXXXXXXX|3047 Foggy Forest...|     Lawrence|        MA|        1841|
|      9|      Mary|     Perez| XXXXXXXXX|    XXXXXXXXX| 3616 Quaking Street|       Caguas|        PR|         725|
|     11|      Mary|   Huffman| XXXXXXXXX|    XXXXXXXXX|    3169 Stony Woods|       Caguas|        PR|         725|
|     13|      Mary|   Baldwin| XXXXXXXXX|    XXXXXXXXX|7922 Iron Oak Gar...|       Caguas|        PR|         725|
|     16|   Tiffany|     Smith| XXXXXXXXX|    XXXXXXXXX|      6651 Iron Port|       Caguas|        PR|         725|
|     19| Stephanie|  Mitchell| XXXXXXXXX|    XXXXXXXXX|3543 Red Treasure...|       Caguas|        PR|         725|
|     20|      Mary|     Ellis| XXXXXXXXX|    XXXXXXXXX|      4703 Old Route|West New York|        NJ|        7093|
|     21|   William| Zimmerman| XXXXXXXXX|    XXXXXXXXX|3323 Old Willow M...|       Caguas|        PR|         725|
|     22|    Joseph|     Smith| XXXXXXXXX|    XXXXXXXXX|7740 Broad Fox Vi...| North Bergen|        NJ|        7047|
|     23|  Benjamin|    Duarte| XXXXXXXXX|    XXXXXXXXX|8811 High Horse I...|     San Juan|        PR|         921|
|     24|      Mary|     Smith| XXXXXXXXX|    XXXXXXXXX| 9417 Emerald Towers|       Caguas|        PR|         725|
|     27|      Mary|   Vincent| XXXXXXXXX|    XXXXXXXXX|1768 Sleepy Zephy...|       Caguas|        PR|         725|
|     30|   Barbara|     Smith| XXXXXXXXX|    XXXXXXXXX|   2455 Merry Hollow|       Caguas|        PR|         725|
|     32|     Alice|     Smith| XXXXXXXXX|    XXXXXXXXX|   2082 Hidden Green|       Caguas|        PR|         725|
|     34|      Mary|     Smith| XXXXXXXXX|    XXXXXXXXX|3330 Easy Berry R...|       Caguas|        PR|         725|
|     36|  Michelle|     Carey| XXXXXXXXX|    XXXXXXXXX| 6336 Fallen Village|       Caguas|        PR|         725|
+-------+----------+----------+----------+-------------+--------------------+-------------+----------+------------+
only showing top 20 rows

In [25]:
spark.sql("select * from customers where LENGTH(cust_zipcode)<>5").show()

+-------+----------+----------+----------+-------------+--------------------+-------------+----------+------------+
|cust_id|cust_fname|cust_lname|cust_email|cust_password|         cust_street|    cust_city|cust_state|cust_zipcode|
+-------+----------+----------+----------+-------------+--------------------+-------------+----------+------------+
|      3|       Ann|     Smith| XXXXXXXXX|    XXXXXXXXX|3422 Blue Pioneer...|       Caguas|        PR|         725|
|      5|    Robert|    Hudson| XXXXXXXXX|    XXXXXXXXX|10 Crystal River ...|       Caguas|        PR|         725|
|      6|      Mary|     Smith| XXXXXXXXX|    XXXXXXXXX|3151 Sleepy Quail...|      Passaic|        NJ|        7055|
|      7|   Melissa|    Wilcox| XXXXXXXXX|    XXXXXXXXX|9453 High Concession|       Caguas|        PR|         725|
|      8|     Megan|     Smith| XXXXXXXXX|    XXXXXXXXX|3047 Foggy Forest...|     Lawrence|        MA|        1841|
|      9|      Mary|     Perez| XXXXXXXXX|    XXXXXXXXX| 3616 Quaking Street|       Caguas|        PR|         725|
|     11|      Mary|   Huffman| XXXXXXXXX|    XXXXXXXXX|    3169 Stony Woods|       Caguas|        PR|         725|
|     13|      Mary|   Baldwin| XXXXXXXXX|    XXXXXXXXX|7922 Iron Oak Gar...|       Caguas|        PR|         725|
|     16|   Tiffany|     Smith| XXXXXXXXX|    XXXXXXXXX|      6651 Iron Port|       Caguas|        PR|         725|
|     19| Stephanie|  Mitchell| XXXXXXXXX|    XXXXXXXXX|3543 Red Treasure...|       Caguas|        PR|         725|
|     20|      Mary|     Ellis| XXXXXXXXX|    XXXXXXXXX|      4703 Old Route|West New York|        NJ|        7093|
|     21|   William| Zimmerman| XXXXXXXXX|    XXXXXXXXX|3323 Old Willow M...|       Caguas|        PR|         725|
|     22|    Joseph|     Smith| XXXXXXXXX|    XXXXXXXXX|7740 Broad Fox Vi...| North Bergen|        NJ|        7047|
|     23|  Benjamin|    Duarte| XXXXXXXXX|    XXXXXXXXX|8811 High Horse I...|     San Juan|        PR|         921|
|     24|      Mary|     Smith| XXXXXXXXX|    XXXXXXXXX| 9417 Emerald Towers|       Caguas|        PR|         725|
|     27|      Mary|   Vincent| XXXXXXXXX|    XXXXXXXXX|1768 Sleepy Zephy...|       Caguas|        PR|         725|
|     30|   Barbara|     Smith| XXXXXXXXX|    XXXXXXXXX|   2455 Merry Hollow|       Caguas|        PR|         725|
|     32|     Alice|     Smith| XXXXXXXXX|    XXXXXXXXX|   2082 Hidden Green|       Caguas|        PR|         725|
|     34|      Mary|     Smith| XXXXXXXXX|    XXXXXXXXX|3330 Easy Berry R...|       Caguas|        PR|         725|
|     36|  Michelle|     Carey| XXXXXXXXX|    XXXXXXXXX| 6336 Fallen Village|       Caguas|        PR|         725|
+-------+----------+----------+----------+-------------+--------------------+-------------+----------+------------+
only showing top 20 rows

# 3.4. Count the number of customers who have valid zip codes.

In [26]:
customers_df.select("*").filter(length("cust_zipcode")==5).show()

+-------+-----------+----------+----------+-------------+--------------------+-----------+----------+------------+
|cust_id| cust_fname|cust_lname|cust_email|cust_password|         cust_street|  cust_city|cust_state|cust_zipcode|
+-------+-----------+----------+----------+-------------+--------------------+-----------+----------+------------+
|      1|    Richard| Hernandez| XXXXXXXXX|    XXXXXXXXX|  6303 Heather Plaza|Brownsville|        TX|       78521|
|      2|       Mary|   Barrett| XXXXXXXXX|    XXXXXXXXX|9526 Noble Embers...|  Littleton|        CO|       80126|
|      4|       Mary|     Jones| XXXXXXXXX|    XXXXXXXXX|  8324 Little Common| San Marcos|        CA|       92069|
|     10|    Melissa|     Smith| XXXXXXXXX|    XXXXXXXXX|8598 Harvest Beac...|   Stafford|        VA|       22554|
|     12|Christopher|     Smith| XXXXXXXXX|    XXXXXXXXX|5594 Jagged Ember...|San Antonio|        TX|       78227|
|     14|  Katherine|     Smith| XXXXXXXXX|    XXXXXXXXX|5666 Hazy Pony Sq...|Pico Rivera|        CA|       90660|
|     15|       Jane|      Luna| XXXXXXXXX|    XXXXXXXXX|    673 Burning Glen|    Fontana|        CA|       92336|
|     17|       Mary|  Robinson| XXXXXXXXX|    XXXXXXXXX|     1325 Noble Pike|     Taylor|        MI|       48180|
|     18|     Robert|     Smith| XXXXXXXXX|    XXXXXXXXX|2734 Hazy Butterf...|   Martinez|        CA|       94553|
|     25|       Paul|Richardson| XXXXXXXXX|    XXXXXXXXX|318 Merry Creek M...|     Peoria|        AZ|       85345|
|     26|     Johnny|      Hood| XXXXXXXXX|    XXXXXXXXX|9576 Middle Hills...|   Glenview|        IL|       60025|
|     28|    Timothy|     Smith| XXXXXXXXX|    XXXXXXXXX|9366 Colonial Hor...|   Longview|        WA|       98632|
|     29|       Mary|  Humphrey| XXXXXXXXX|    XXXXXXXXX|2469 Blue Brook C...| Fort Worth|        TX|       76133|
|     31|       Mary|      Byrd| XXXXXXXXX|    XXXXXXXXX|     8259 Foggy Edge|Albuquerque|        NM|       87111|
|     33|       Adam|  Petersen| XXXXXXXXX|    XXXXXXXXX|9768 Noble Horse ...|    Norfolk|        VA|       23503|
|     35|   Margaret|    Wright| XXXXXXXXX|    XXXXXXXXX|   9456 Sleepy Jetty|  Oceanside|        CA|       92056|
|     37|   Virginia|    Conrad| XXXXXXXXX|    XXXXXXXXX|6115 Indian Beaco...|    Norfolk|        VA|       23503|
|     38|       Mary|     Smith| XXXXXXXXX|    XXXXXXXXX|   2805 Crystal Moor|  Opelousas|        LA|       70570|
|     40|       Mary|     Smith| XXXXXXXXX|    XXXXXXXXX|   7358 Rocky Villas| Long Beach|        CA|       90805|
|     41|   Victoria|     Mason| XXXXXXXXX|    XXXXXXXXX|7869 Crystal View...|   Brooklyn|        NY|       11230|
+-------+-----------+----------+----------+-------------+--------------------+-----------+----------+------------+
only showing top 20 rows

In [27]:
customers_df.select("*").filter(length("cust_zipcode")==5).count()

7244

In [28]:
spark.sql("select * from customers where LENGTH(cust_zipcode)=5").show()

+-------+-----------+----------+----------+-------------+--------------------+-----------+----------+------------+
|cust_id| cust_fname|cust_lname|cust_email|cust_password|         cust_street|  cust_city|cust_state|cust_zipcode|
+-------+-----------+----------+----------+-------------+--------------------+-----------+----------+------------+
|      1|    Richard| Hernandez| XXXXXXXXX|    XXXXXXXXX|  6303 Heather Plaza|Brownsville|        TX|       78521|
|      2|       Mary|   Barrett| XXXXXXXXX|    XXXXXXXXX|9526 Noble Embers...|  Littleton|        CO|       80126|
|      4|       Mary|     Jones| XXXXXXXXX|    XXXXXXXXX|  8324 Little Common| San Marcos|        CA|       92069|
|     10|    Melissa|     Smith| XXXXXXXXX|    XXXXXXXXX|8598 Harvest Beac...|   Stafford|        VA|       22554|
|     12|Christopher|     Smith| XXXXXXXXX|    XXXXXXXXX|5594 Jagged Ember...|San Antonio|        TX|       78227|
|     14|  Katherine|     Smith| XXXXXXXXX|    XXXXXXXXX|5666 Hazy Pony Sq...|Pico Rivera|        CA|       90660|
|     15|       Jane|      Luna| XXXXXXXXX|    XXXXXXXXX|    673 Burning Glen|    Fontana|        CA|       92336|
|     17|       Mary|  Robinson| XXXXXXXXX|    XXXXXXXXX|     1325 Noble Pike|     Taylor|        MI|       48180|
|     18|     Robert|     Smith| XXXXXXXXX|    XXXXXXXXX|2734 Hazy Butterf...|   Martinez|        CA|       94553|
|     25|       Paul|Richardson| XXXXXXXXX|    XXXXXXXXX|318 Merry Creek M...|     Peoria|        AZ|       85345|
|     26|     Johnny|      Hood| XXXXXXXXX|    XXXXXXXXX|9576 Middle Hills...|   Glenview|        IL|       60025|
|     28|    Timothy|     Smith| XXXXXXXXX|    XXXXXXXXX|9366 Colonial Hor...|   Longview|        WA|       98632|
|     29|       Mary|  Humphrey| XXXXXXXXX|    XXXXXXXXX|2469 Blue Brook C...| Fort Worth|        TX|       76133|
|     31|       Mary|      Byrd| XXXXXXXXX|    XXXXXXXXX|     8259 Foggy Edge|Albuquerque|        NM|       87111|
|     33|       Adam|  Petersen| XXXXXXXXX|    XXXXXXXXX|9768 Noble Horse ...|    Norfolk|        VA|       23503|
|     35|   Margaret|    Wright| XXXXXXXXX|    XXXXXXXXX|   9456 Sleepy Jetty|  Oceanside|        CA|       92056|
|     37|   Virginia|    Conrad| XXXXXXXXX|    XXXXXXXXX|6115 Indian Beaco...|    Norfolk|        VA|       23503|
|     38|       Mary|     Smith| XXXXXXXXX|    XXXXXXXXX|   2805 Crystal Moor|  Opelousas|        LA|       70570|
|     40|       Mary|     Smith| XXXXXXXXX|    XXXXXXXXX|   7358 Rocky Villas| Long Beach|        CA|       90805|
|     41|   Victoria|     Mason| XXXXXXXXX|    XXXXXXXXX|7869 Crystal View...|   Brooklyn|        NY|       11230|
+-------+-----------+----------+----------+-------------+--------------------+-----------+----------+------------+
only showing top 20 rows

In [29]:
spark.sql("select count(*) as valid_zips from customers where LENGTH(cust_zipcode)=5").show()

+----------+
|valid_zips|
+----------+
|      7244|
+----------+

# 3.5. Find the number of customers from each city in the state of California(CA).

In [30]:
customers_df.select("cust_city").filter("cust_state == 'CA'").groupBy("cust_city").count().sort("count", ascending =  False).show()

+--------------+-----+
|     cust_city|count|
+--------------+-----+
|   Los Angeles|  224|
|     San Diego|  104|
|      San Jose|   71|
|   Bakersfield|   41|
|     Santa Ana|   36|
|    Long Beach|   36|
|        Fresno|   29|
|     Escondido|   29|
|       Ontario|   29|
| San Francisco|   28|
|     Riverside|   27|
| Mission Viejo|   26|
|     Oceanside|   24|
|    Sacramento|   23|
|       Modesto|   23|
|       Fremont|   22|
|       Hayward|   21|
| Moreno Valley|   21|
|   Simi Valley|   20|
|San Bernardino|   20|
+--------------+-----+
only showing top 20 rows

In [31]:
spark.sql("select cust_city, count(*) as count_of_cities from customers where cust_state = 'CA' group by 1 order by count_of_cities desc").show()

+-------------+---------------+
|    cust_city|count_of_cities|
+-------------+---------------+
|  Los Angeles|            224|
|    San Diego|            104|
|     San Jose|             71|
|  Bakersfield|             41|
|    Santa Ana|             36|
|   Long Beach|             36|
|       Fresno|             29|
|    Escondido|             29|
|      Ontario|             29|
|San Francisco|             28|
|    Riverside|             27|
|Mission Viejo|             26|
|    Oceanside|             24|
|   Sacramento|             23|
|      Modesto|             23|
|      Fremont|             22|
|Moreno Valley|             21|
|      Hayward|             21|
| Garden Grove|             20|
|  Simi Valley|             20|
+-------------+---------------+
only showing top 20 rows