In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import SparkSession
import getpass
username = getpass.getuser()
spark= SparkSession. \
builder. \
config('spark.ui.port','0'). \
config("spark.sql.warehouse.dir", f"/user/itv009033/warehouse"). \
enableHiveSupport(). \
master('yarn'). \
getOrCreate()

In [2]:
spark

# 1.1. Create a managed spark table and load data to it from the given csv file.
````(path : /public/trendytech/groceries.csv)````

In [3]:
groceries_df = spark.read.format('csv').option('header', 'true').option('inferschema','true').load("/public/trendytech/groceries.csv")
groceries_df.show()

+--------+---------+--------+----------+--------+
|order_id| location|    item|order_date|quantity|
+--------+---------+--------+----------+--------+
|      o1|  Seattle| Bananas|01/01/2017|       7|
|      o2|     Kent|  Apples|02/01/2017|      20|
|      o3| Bellevue| Flowers|02/01/2017|      10|
|      o4|  Redmond|    Meat|03/01/2017|      40|
|      o5|  Seattle|Potatoes|04/01/2017|       9|
|      o6| Bellevue|   Bread|04/01/2017|       5|
|      o7|  Redmond|   Bread|05/01/2017|       5|
|      o8| Issaquah|   Onion|05/01/2017|       4|
|      o9|  Redmond|  Cheese|05/01/2017|      15|
|     o10| Issaquah|   Onion|06/01/2017|       4|
|     o11|   Renton|   Bread|05/01/2017|       5|
|     o12| Issaquah|   Onion|07/01/2017|       4|
|     o13|Sammamish|   Bread|07/01/2017|       5|
|     o14| Issaquah|  Tomato|07/01/2017|       6|
|     o15| Issaquah|    Meat|08/01/2017|       3|
|     o16| Issaquah|    Meat|09/01/2017|       5|
|     o17| Issaquah|    Meat|10/01/2017|       6|
|     o18| Bellevue|   Bread|11/01/2017|       7|
|     o19| Bellevue|   Bread|12/01/2017|      54|
|     o20| Bellevue|   Bread|13/01/2017|      34|
+--------+---------+--------+----------+--------+
only showing top 20 rows

In [4]:
groceries_df.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- location: string (nullable = true)
 |-- item: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- quantity: integer (nullable = true)

In [5]:
spark.sql("create database if not exists itv009033_week5_assignment")

++
||
++
++

In [6]:
spark.sql("show databases")

+--------------------+
|           namespace|
+--------------------+
|00000assign7_itv0...|
|   0001_av_ivy_tesco|
|          001_retail|
|        003402_hive1|
|    005198_ivy_tesco|
|    005212_ivy_tesco|
| 005222_ivy_practice|
| 005260_ivy_database|
|005876_week5_assi...|
|       005933_retail|
|006018_trendytech...|
|        006539_week5|
|      006539_week5_1|
|     006586_database|
|     006608_database|
|006866_week5_assi...|
|        007384_w5_db|
| 008057_bucketing_db|
|        008211_week5|
|008228trendytechw...|
+--------------------+
only showing top 20 rows

In [7]:
spark.sql("show databases").filter("namespace ='itv009033_week5_assignment'").show(truncate=False)

+--------------------------+
|namespace                 |
+--------------------------+
|itv009033_week5_assignment|
+--------------------------+

In [8]:
spark.sql("use itv009033_week5_assignment")

++
||
++
++

In [9]:
spark.sql("show tables").show()

+--------------------+---------+-----------+
|            database|tableName|isTemporary|
+--------------------+---------+-----------+
|itv009033_week5_a...|groceries|      false|
+--------------------+---------+-----------+

In [10]:
groceries_df.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- location: string (nullable = true)
 |-- item: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- quantity: integer (nullable = true)

In [16]:
spark.sql("create table if not exists itv009033_week5_assignment.groceries(order_id string,location string,item string,order_date string,quantity integer)")

++
||
++
++

In [17]:
spark.sql("show tables").show(truncate = False)

+--------------------------+--------------+-----------+
|database                  |tableName     |isTemporary|
+--------------------------+--------------+-----------+
|itv009033_week5_assignment|groceries     |false      |
|                          |groceries_temp|true       |
+--------------------------+--------------+-----------+

In [18]:
groceries_df.createOrReplaceTempView("groceries_temp")
groceries_temp = spark.sql("select * from groceries_temp")

In [19]:
groceries_temp.show()

+--------+---------+--------+----------+--------+
|order_id| location|    item|order_date|quantity|
+--------+---------+--------+----------+--------+
|      o1|  Seattle| Bananas|01/01/2017|       7|
|      o2|     Kent|  Apples|02/01/2017|      20|
|      o3| Bellevue| Flowers|02/01/2017|      10|
|      o4|  Redmond|    Meat|03/01/2017|      40|
|      o5|  Seattle|Potatoes|04/01/2017|       9|
|      o6| Bellevue|   Bread|04/01/2017|       5|
|      o7|  Redmond|   Bread|05/01/2017|       5|
|      o8| Issaquah|   Onion|05/01/2017|       4|
|      o9|  Redmond|  Cheese|05/01/2017|      15|
|     o10| Issaquah|   Onion|06/01/2017|       4|
|     o11|   Renton|   Bread|05/01/2017|       5|
|     o12| Issaquah|   Onion|07/01/2017|       4|
|     o13|Sammamish|   Bread|07/01/2017|       5|
|     o14| Issaquah|  Tomato|07/01/2017|       6|
|     o15| Issaquah|    Meat|08/01/2017|       3|
|     o16| Issaquah|    Meat|09/01/2017|       5|
|     o17| Issaquah|    Meat|10/01/2017|       6|
|     o18| Bellevue|   Bread|11/01/2017|       7|
|     o19| Bellevue|   Bread|12/01/2017|      54|
|     o20| Bellevue|   Bread|13/01/2017|      34|
+--------+---------+--------+----------+--------+
only showing top 20 rows

In [20]:
spark.sql("select * from groceries")

+--------+---------+--------+----------+--------+
|order_id| location|    item|order_date|quantity|
+--------+---------+--------+----------+--------+
|      o1|  Seattle| Bananas|01/01/2017|       7|
|      o2|     Kent|  Apples|02/01/2017|      20|
|      o3| Bellevue| Flowers|02/01/2017|      10|
|      o4|  Redmond|    Meat|03/01/2017|      40|
|      o5|  Seattle|Potatoes|04/01/2017|       9|
|      o6| Bellevue|   Bread|04/01/2017|       5|
|      o7|  Redmond|   Bread|05/01/2017|       5|
|      o8| Issaquah|   Onion|05/01/2017|       4|
|      o9|  Redmond|  Cheese|05/01/2017|      15|
|     o10| Issaquah|   Onion|06/01/2017|       4|
|     o11|   Renton|   Bread|05/01/2017|       5|
|     o12| Issaquah|   Onion|07/01/2017|       4|
|     o13|Sammamish|   Bread|07/01/2017|       5|
|     o14| Issaquah|  Tomato|07/01/2017|       6|
|     o15| Issaquah|    Meat|08/01/2017|       3|
|     o16| Issaquah|    Meat|09/01/2017|       5|
|     o17| Issaquah|    Meat|10/01/2017|       6|
|     o18| Bellevue|   Bread|11/01/2017|       7|
|     o19| Bellevue|   Bread|12/01/2017|      54|
|     o20| Bellevue|   Bread|13/01/2017|      34|
+--------+---------+--------+----------+--------+
only showing top 20 rows

In [21]:
spark.sql("insert into itv009033_week5_assignment.groceries select * from groceries_temp")

++
||
++
++

In [24]:
spark.sql("select * from groceries").show(100,truncate = False)

+--------+---------+--------+----------+--------+
|order_id|location |item    |order_date|quantity|
+--------+---------+--------+----------+--------+
|o1      |Seattle  |Bananas |01/01/2017|7       |
|o2      |Kent     |Apples  |02/01/2017|20      |
|o3      |Bellevue |Flowers |02/01/2017|10      |
|o4      |Redmond  |Meat    |03/01/2017|40      |
|o5      |Seattle  |Potatoes|04/01/2017|9       |
|o6      |Bellevue |Bread   |04/01/2017|5       |
|o7      |Redmond  |Bread   |05/01/2017|5       |
|o8      |Issaquah |Onion   |05/01/2017|4       |
|o9      |Redmond  |Cheese  |05/01/2017|15      |
|o10     |Issaquah |Onion   |06/01/2017|4       |
|o11     |Renton   |Bread   |05/01/2017|5       |
|o12     |Issaquah |Onion   |07/01/2017|4       |
|o13     |Sammamish|Bread   |07/01/2017|5       |
|o14     |Issaquah |Tomato  |07/01/2017|6       |
|o15     |Issaquah |Meat    |08/01/2017|3       |
|o16     |Issaquah |Meat    |09/01/2017|5       |
|o17     |Issaquah |Meat    |10/01/2017|6       |
|o18     |Bellevue |Bread   |11/01/2017|7       |
|o19     |Bellevue |Bread   |12/01/2017|54      |
|o20     |Bellevue |Bread   |13/01/2017|34      |
|o21     |Bellevue |Bread   |14/01/2017|25      |
|o1      |Seattle  |Bananas |01/01/2017|7       |
|o2      |Kent     |Apples  |02/01/2017|20      |
|o3      |Bellevue |Flowers |02/01/2017|10      |
|o4      |Redmond  |Meat    |03/01/2017|40      |
|o5      |Seattle  |Potatoes|04/01/2017|9       |
|o6      |Bellevue |Bread   |04/01/2017|5       |
|o7      |Redmond  |Bread   |05/01/2017|5       |
|o8      |Issaquah |Onion   |05/01/2017|4       |
|o9      |Redmond  |Cheese  |05/01/2017|15      |
|o10     |Issaquah |Onion   |06/01/2017|4       |
|o11     |Renton   |Bread   |05/01/2017|5       |
|o12     |Issaquah |Onion   |07/01/2017|4       |
|o13     |Sammamish|Bread   |07/01/2017|5       |
|o14     |Issaquah |Tomato  |07/01/2017|6       |
|o15     |Issaquah |Meat    |08/01/2017|3       |
|o16     |Issaquah |Meat    |09/01/2017|5       |
|o17     |Issaquah |Meat    |10/01/2017|6       |
|o18     |Bellevue |Bread   |11/01/2017|7       |
|o19     |Bellevue |Bread   |12/01/2017|54      |
|o20     |Bellevue |Bread   |13/01/2017|34      |
|o21     |Bellevue |Bread   |14/01/2017|25      |
+--------+---------+--------+----------+--------+

In [25]:
spark.sql("describe extended itv009033_week5_assignment.groceries").show(truncate=False)

+----------------------------+----------------------------------------------------------------------------------------------+-------+
|col_name                    |data_type                                                                                     |comment|
+----------------------------+----------------------------------------------------------------------------------------------+-------+
|order_id                    |string                                                                                        |null   |
|location                    |string                                                                                        |null   |
|item                        |string                                                                                        |null   |
|order_date                  |string                                                                                        |null   |
|quantity                    |int                                                                                           |null   |
|                            |                                                                                              |       |
|# Detailed Table Information|                                                                                              |       |
|Database                    |itv009033_week5_assignment                                                                    |       |
|Table                       |groceries                                                                                     |       |
|Owner                       |itv009033                                                                                     |       |
|Created Time                |Tue Oct 03 11:19:26 EDT 2023                                                                  |       |
|Last Access                 |UNKNOWN                                                                                       |       |
|Created By                  |Spark 3.1.2                                                                                   |       |
|Type                        |MANAGED                                                                                       |       |
|Provider                    |hive                                                                                          |       |
|Table Properties            |[transient_lastDdlTime=1696395174]                                                            |       |
|Statistics                  |1332 bytes                                                                                    |       |
|Location                    |hdfs://m01.itversity.com:9000/user/itv009033/warehouse/itv009033_week5_assignment.db/groceries|       |
|Serde Library               |org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe                                            |       |
|InputFormat                 |org.apache.hadoop.mapred.TextInputFormat                                                      |       |
+----------------------------+----------------------------------------------------------------------------------------------+-------+
only showing top 20 rows

# 1.2. Create an external spark table with the same data.
``(path : /public/trendytech/groceries.csv)``

In [27]:
spark.sql("create table if not exists itv009033_week5_assignment.groceries_external(order_id string,location string,item string,order_date string,quantity integer) using csv options(header='true') location '/public/trendytech/groceries.csv'")

++
||
++
++

In [29]:
spark.sql("select * from groceries_external")

+--------+---------+--------+----------+--------+
|order_id| location|    item|order_date|quantity|
+--------+---------+--------+----------+--------+
|      o1|  Seattle| Bananas|01/01/2017|       7|
|      o2|     Kent|  Apples|02/01/2017|      20|
|      o3| Bellevue| Flowers|02/01/2017|      10|
|      o4|  Redmond|    Meat|03/01/2017|      40|
|      o5|  Seattle|Potatoes|04/01/2017|       9|
|      o6| Bellevue|   Bread|04/01/2017|       5|
|      o7|  Redmond|   Bread|05/01/2017|       5|
|      o8| Issaquah|   Onion|05/01/2017|       4|
|      o9|  Redmond|  Cheese|05/01/2017|      15|
|     o10| Issaquah|   Onion|06/01/2017|       4|
|     o11|   Renton|   Bread|05/01/2017|       5|
|     o12| Issaquah|   Onion|07/01/2017|       4|
|     o13|Sammamish|   Bread|07/01/2017|       5|
|     o14| Issaquah|  Tomato|07/01/2017|       6|
|     o15| Issaquah|    Meat|08/01/2017|       3|
|     o16| Issaquah|    Meat|09/01/2017|       5|
|     o17| Issaquah|    Meat|10/01/2017|       6|
|     o18| Bellevue|   Bread|11/01/2017|       7|
|     o19| Bellevue|   Bread|12/01/2017|      54|
|     o20| Bellevue|   Bread|13/01/2017|      34|
+--------+---------+--------+----------+--------+
only showing top 20 rows

# 1.3. Verify that the data has been successfully loaded into both the tables.

In [31]:
spark.sql("select * from groceries_external").show(truncate = False)

+--------+---------+--------+----------+--------+
|order_id|location |item    |order_date|quantity|
+--------+---------+--------+----------+--------+
|o1      |Seattle  |Bananas |01/01/2017|7       |
|o2      |Kent     |Apples  |02/01/2017|20      |
|o3      |Bellevue |Flowers |02/01/2017|10      |
|o4      |Redmond  |Meat    |03/01/2017|40      |
|o5      |Seattle  |Potatoes|04/01/2017|9       |
|o6      |Bellevue |Bread   |04/01/2017|5       |
|o7      |Redmond  |Bread   |05/01/2017|5       |
|o8      |Issaquah |Onion   |05/01/2017|4       |
|o9      |Redmond  |Cheese  |05/01/2017|15      |
|o10     |Issaquah |Onion   |06/01/2017|4       |
|o11     |Renton   |Bread   |05/01/2017|5       |
|o12     |Issaquah |Onion   |07/01/2017|4       |
|o13     |Sammamish|Bread   |07/01/2017|5       |
|o14     |Issaquah |Tomato  |07/01/2017|6       |
|o15     |Issaquah |Meat    |08/01/2017|3       |
|o16     |Issaquah |Meat    |09/01/2017|5       |
|o17     |Issaquah |Meat    |10/01/2017|6       |
|o18     |Bellevue |Bread   |11/01/2017|7       |
|o19     |Bellevue |Bread   |12/01/2017|54      |
|o20     |Bellevue |Bread   |13/01/2017|34      |
+--------+---------+--------+----------+--------+
only showing top 20 rows

# 1.4. Drop the managed and external tables and see the differences.

In [33]:
spark.sql("show tables").show(truncate = False)

+--------------------------+------------------+-----------+
|database                  |tableName         |isTemporary|
+--------------------------+------------------+-----------+
|itv009033_week5_assignment|groceries         |false      |
|itv009033_week5_assignment|groceries_external|false      |
|                          |groceries_temp    |true       |
+--------------------------+------------------+-----------+

In [35]:
spark.sql("drop table itv009033_week5_assignment.groceries_external")

++
||
++
++

In [36]:
spark.sql("show tables").show(truncate = False)

+--------------------------+--------------+-----------+
|database                  |tableName     |isTemporary|
+--------------------------+--------------+-----------+
|itv009033_week5_assignment|groceries     |false      |
|                          |groceries_temp|true       |
+--------------------------+--------------+-----------+

In [37]:
spark.sql("drop table itv009033_week5_assignment.groceries")
spark.sql("show tables").show(truncate = False)

+--------+--------------+-----------+
|database|tableName     |isTemporary|
+--------+--------------+-----------+
|        |groceries_temp|true       |
+--------+--------------+-----------+

# 1.5. Perform all the above tasks with the given json file.
``(path :
/public/trendytech/orders_wh.json/part-00000-68544d18-9a34-443f-bf0e-1dd8
103ff94e-c000.json)``

<h3> 1.5.1 Create a managed spark table and load data to it </h3>

In [58]:
json_df = spark.read.format('json').option('header', 'true').option('inferschema','true').load("/public/trendytech/orders_wh.json/part-00000-68544d18-9a34-443f-bf0e-1dd8103ff94e-c000.json")
json_df.show(truncate = False)

+-----------+---------------------+--------+---------------+
|customer_id|order_date           |order_id|order_status   |
+-----------+---------------------+--------+---------------+
|11599      |2013-07-25 00:00:00.0|1       |CLOSED         |
|256        |2013-07-25 00:00:00.0|2       |PENDING_PAYMENT|
|12111      |2013-07-25 00:00:00.0|3       |COMPLETE       |
|8827       |2013-07-25 00:00:00.0|4       |CLOSED         |
|11318      |2013-07-25 00:00:00.0|5       |COMPLETE       |
|7130       |2013-07-25 00:00:00.0|6       |COMPLETE       |
|4530       |2013-07-25 00:00:00.0|7       |COMPLETE       |
|2911       |2013-07-25 00:00:00.0|8       |PROCESSING     |
|5657       |2013-07-25 00:00:00.0|9       |PENDING_PAYMENT|
|5648       |2013-07-25 00:00:00.0|10      |PENDING_PAYMENT|
|918        |2013-07-25 00:00:00.0|11      |PAYMENT_REVIEW |
|1837       |2013-07-25 00:00:00.0|12      |CLOSED         |
|9149       |2013-07-25 00:00:00.0|13      |PENDING_PAYMENT|
|9842       |2013-07-25 00:00:00.0|14      |PROCESSING     |
|2568       |2013-07-25 00:00:00.0|15      |COMPLETE       |
|7276       |2013-07-25 00:00:00.0|16      |PENDING_PAYMENT|
|2667       |2013-07-25 00:00:00.0|17      |COMPLETE       |
|1205       |2013-07-25 00:00:00.0|18      |CLOSED         |
|9488       |2013-07-25 00:00:00.0|19      |PENDING_PAYMENT|
|9198       |2013-07-25 00:00:00.0|20      |PROCESSING     |
+-----------+---------------------+--------+---------------+
only showing top 20 rows

In [59]:
json_df.printSchema()

root
 |-- customer_id: long (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_id: long (nullable = true)
 |-- order_status: string (nullable = true)

In [60]:
spark.sql("use itv009033_week5_assignment")

++
||
++
++

In [61]:
spark.sql("create table if not exists itv009033_week5_assignment.orders_json(customer_id int,order_date string,order_id int,order_status string)")

++
||
++
++

In [62]:
json_df.createOrReplaceTempView("order_json")

In [63]:
spark.sql("show tables").show(truncate = False)

+--------------------------+--------------+-----------+
|database                  |tableName     |isTemporary|
+--------------------------+--------------+-----------+
|itv009033_week5_assignment|orders_json   |false      |
|                          |groceries_temp|true       |
|                          |order         |true       |
|                          |order_json    |true       |
|                          |orders        |true       |
+--------------------------+--------------+-----------+

In [64]:
spark.sql("insert into itv009033_week5_assignment.orders_json select * from order_json")

++
||
++
++

In [65]:
spark.sql("select * from itv009033_week5_assignment.orders_json").show(100, truncate = False)

+-----------+---------------------+--------+---------------+
|customer_id|order_date           |order_id|order_status   |
+-----------+---------------------+--------+---------------+
|11599      |2013-07-25 00:00:00.0|1       |CLOSED         |
|256        |2013-07-25 00:00:00.0|2       |PENDING_PAYMENT|
|12111      |2013-07-25 00:00:00.0|3       |COMPLETE       |
|8827       |2013-07-25 00:00:00.0|4       |CLOSED         |
|11318      |2013-07-25 00:00:00.0|5       |COMPLETE       |
|7130       |2013-07-25 00:00:00.0|6       |COMPLETE       |
|4530       |2013-07-25 00:00:00.0|7       |COMPLETE       |
|2911       |2013-07-25 00:00:00.0|8       |PROCESSING     |
|5657       |2013-07-25 00:00:00.0|9       |PENDING_PAYMENT|
|5648       |2013-07-25 00:00:00.0|10      |PENDING_PAYMENT|
|918        |2013-07-25 00:00:00.0|11      |PAYMENT_REVIEW |
|1837       |2013-07-25 00:00:00.0|12      |CLOSED         |
|9149       |2013-07-25 00:00:00.0|13      |PENDING_PAYMENT|
|9842       |2013-07-25 00:00:00.0|14      |PROCESSING     |
|2568       |2013-07-25 00:00:00.0|15      |COMPLETE       |
|7276       |2013-07-25 00:00:00.0|16      |PENDING_PAYMENT|
|2667       |2013-07-25 00:00:00.0|17      |COMPLETE       |
|1205       |2013-07-25 00:00:00.0|18      |CLOSED         |
|9488       |2013-07-25 00:00:00.0|19      |PENDING_PAYMENT|
|9198       |2013-07-25 00:00:00.0|20      |PROCESSING     |
|2711       |2013-07-25 00:00:00.0|21      |PENDING        |
|333        |2013-07-25 00:00:00.0|22      |COMPLETE       |
|4367       |2013-07-25 00:00:00.0|23      |PENDING_PAYMENT|
|11441      |2013-07-25 00:00:00.0|24      |CLOSED         |
|9503       |2013-07-25 00:00:00.0|25      |CLOSED         |
|7562       |2013-07-25 00:00:00.0|26      |COMPLETE       |
|3241       |2013-07-25 00:00:00.0|27      |PENDING_PAYMENT|
|656        |2013-07-25 00:00:00.0|28      |COMPLETE       |
|196        |2013-07-25 00:00:00.0|29      |PROCESSING     |
|10039      |2013-07-25 00:00:00.0|30      |PENDING_PAYMENT|
|6983       |2013-07-25 00:00:00.0|31      |PAYMENT_REVIEW |
|3960       |2013-07-25 00:00:00.0|32      |COMPLETE       |
|5793       |2013-07-25 00:00:00.0|33      |PENDING_PAYMENT|
|4189       |2013-07-25 00:00:00.0|34      |PROCESSING     |
|4840       |2013-07-25 00:00:00.0|35      |COMPLETE       |
|5649       |2013-07-25 00:00:00.0|36      |PENDING        |
|5863       |2013-07-25 00:00:00.0|37      |CLOSED         |
|11586      |2013-07-25 00:00:00.0|38      |PROCESSING     |
|8214       |2013-07-25 00:00:00.0|39      |PENDING        |
|12092      |2013-07-25 00:00:00.0|40      |PENDING_PAYMENT|
|8136       |2013-07-25 00:00:00.0|41      |PENDING_PAYMENT|
|9776       |2013-07-25 00:00:00.0|42      |PENDING        |
|7776       |2013-07-25 00:00:00.0|43      |PENDING_PAYMENT|
|10500      |2013-07-25 00:00:00.0|44      |PENDING        |
|2636       |2013-07-25 00:00:00.0|45      |COMPLETE       |
|1549       |2013-07-25 00:00:00.0|46      |ON_HOLD        |
|8487       |2013-07-25 00:00:00.0|47      |PENDING_PAYMENT|
|12186      |2013-07-25 00:00:00.0|48      |PROCESSING     |
|1871       |2013-07-25 00:00:00.0|49      |PENDING        |
|5225       |2013-07-25 00:00:00.0|50      |CANCELED       |
|12271      |2013-07-25 00:00:00.0|51      |CLOSED         |
|5126       |2013-07-25 00:00:00.0|52      |PENDING_PAYMENT|
|4701       |2013-07-25 00:00:00.0|53      |PROCESSING     |
|10628      |2013-07-25 00:00:00.0|54      |PENDING_PAYMENT|
|2052       |2013-07-25 00:00:00.0|55      |PENDING        |
|10519      |2013-07-25 00:00:00.0|56      |COMPLETE       |
|7073       |2013-07-25 00:00:00.0|57      |CLOSED         |
|9213       |2013-07-25 00:00:00.0|58      |PENDING_PAYMENT|
|11644      |2013-07-25 00:00:00.0|59      |PENDING_PAYMENT|
|8365       |2013-07-25 00:00:00.0|60      |PENDING_PAYMENT|
|4791       |2013-07-25 00:00:00.0|61      |CLOSED         |
|9111       |2013-07-25 00:00:00.0|62      |CLOSED         |
|1148       |2013-07-25 00:00:00.0|63      |COMPLETE       |
|5579       |2013-07-25 00:00:00.0|64      |PENDING_PAYMENT|
|5903       |2013-07-25 00:00:00.0|65      |COMPLETE       |
|1792       |2013-07-25 00:00:00.0|66      |ON_HOLD        |
|1406       |2013-07-25 00:00:00.0|67      |COMPLETE       |
|4320       |2013-07-25 00:00:00.0|68      |PENDING        |
|2821       |2013-07-25 00:00:00.0|69      |SUSPECTED_FRAUD|
|11809      |2013-07-25 00:00:00.0|70      |PENDING_PAYMENT|
|8646       |2013-07-25 00:00:00.0|71      |COMPLETE       |
|4349       |2013-07-25 00:00:00.0|72      |COMPLETE       |
|8504       |2013-07-25 00:00:00.0|73      |PENDING_PAYMENT|
|662        |2013-07-25 00:00:00.0|74      |PENDING_PAYMENT|
|2505       |2013-07-25 00:00:00.0|75      |PENDING_PAYMENT|
|6898       |2013-07-25 00:00:00.0|76      |COMPLETE       |
|7915       |2013-07-25 00:00:00.0|77      |PENDING_PAYMENT|
|8619       |2013-07-25 00:00:00.0|78      |PAYMENT_REVIEW |
|7327       |2013-07-25 00:00:00.0|79      |PENDING_PAYMENT|
|3007       |2013-07-25 00:00:00.0|80      |COMPLETE       |
|674        |2013-07-25 00:00:00.0|81      |PROCESSING     |
|3566       |2013-07-25 00:00:00.0|82      |PENDING_PAYMENT|
|1265       |2013-07-25 00:00:00.0|83      |COMPLETE       |
|6789       |2013-07-25 00:00:00.0|84      |PROCESSING     |
|1485       |2013-07-25 00:00:00.0|85      |PENDING        |
|6680       |2013-07-25 00:00:00.0|86      |PENDING_PAYMENT|
|3065       |2013-07-25 00:00:00.0|87      |CLOSED         |
|3809       |2013-07-25 00:00:00.0|88      |COMPLETE       |
|824        |2013-07-25 00:00:00.0|89      |ON_HOLD        |
|9131       |2013-07-25 00:00:00.0|90      |CLOSED         |
|8912       |2013-07-25 00:00:00.0|91      |COMPLETE       |
|6932       |2013-07-25 00:00:00.0|92      |COMPLETE       |
|2256       |2013-07-25 00:00:00.0|93      |PENDING_PAYMENT|
|11589      |2013-07-25 00:00:00.0|94      |PROCESSING     |
|9032       |2013-07-25 00:00:00.0|95      |COMPLETE       |
|8683       |2013-07-25 00:00:00.0|96      |PENDING        |
|10784      |2013-07-25 00:00:00.0|97      |PENDING        |
|5243       |2013-07-25 00:00:00.0|98      |COMPLETE       |
|11542      |2013-07-25 00:00:00.0|99      |PENDING_PAYMENT|
|12131      |2013-07-25 00:00:00.0|100     |PROCESSING     |
+-----------+---------------------+--------+---------------+
only showing top 100 rows

<h3> 1.5.2 Create an external spark table with the same data. </h3>

In [67]:
spark.sql("create table if not exists itv009033_week5_assignment.orders_json_extrenal(customer_id int,order_date string,order_id int,order_status string)using json options(header = 'true') location '/public/trendytech/orders_wh.json/part-00000-68544d18-9a34-443f-bf0e-1dd8103ff94e-c000.json'")

In [68]:
spark.sql("select * from orders_json_extrenal")

+-----------+--------------------+--------+---------------+
|customer_id|          order_date|order_id|   order_status|
+-----------+--------------------+--------+---------------+
|      11599|2013-07-25 00:00:...|       1|         CLOSED|
|        256|2013-07-25 00:00:...|       2|PENDING_PAYMENT|
|      12111|2013-07-25 00:00:...|       3|       COMPLETE|
|       8827|2013-07-25 00:00:...|       4|         CLOSED|
|      11318|2013-07-25 00:00:...|       5|       COMPLETE|
|       7130|2013-07-25 00:00:...|       6|       COMPLETE|
|       4530|2013-07-25 00:00:...|       7|       COMPLETE|
|       2911|2013-07-25 00:00:...|       8|     PROCESSING|
|       5657|2013-07-25 00:00:...|       9|PENDING_PAYMENT|
|       5648|2013-07-25 00:00:...|      10|PENDING_PAYMENT|
|        918|2013-07-25 00:00:...|      11| PAYMENT_REVIEW|
|       1837|2013-07-25 00:00:...|      12|         CLOSED|
|       9149|2013-07-25 00:00:...|      13|PENDING_PAYMENT|
|       9842|2013-07-25 00:00:...|      14|     PROCESSING|
|       2568|2013-07-25 00:00:...|      15|       COMPLETE|
|       7276|2013-07-25 00:00:...|      16|PENDING_PAYMENT|
|       2667|2013-07-25 00:00:...|      17|       COMPLETE|
|       1205|2013-07-25 00:00:...|      18|         CLOSED|
|       9488|2013-07-25 00:00:...|      19|PENDING_PAYMENT|
|       9198|2013-07-25 00:00:...|      20|     PROCESSING|
+-----------+--------------------+--------+---------------+
only showing top 20 rows

<h3>1.5.3 Verify that the data has been successfully loaded into both the tables</h3>

In [69]:
spark.sql("select * from orders_json_extrenal").show(20, truncate = False)

+-----------+---------------------+--------+---------------+
|customer_id|order_date           |order_id|order_status   |
+-----------+---------------------+--------+---------------+
|11599      |2013-07-25 00:00:00.0|1       |CLOSED         |
|256        |2013-07-25 00:00:00.0|2       |PENDING_PAYMENT|
|12111      |2013-07-25 00:00:00.0|3       |COMPLETE       |
|8827       |2013-07-25 00:00:00.0|4       |CLOSED         |
|11318      |2013-07-25 00:00:00.0|5       |COMPLETE       |
|7130       |2013-07-25 00:00:00.0|6       |COMPLETE       |
|4530       |2013-07-25 00:00:00.0|7       |COMPLETE       |
|2911       |2013-07-25 00:00:00.0|8       |PROCESSING     |
|5657       |2013-07-25 00:00:00.0|9       |PENDING_PAYMENT|
|5648       |2013-07-25 00:00:00.0|10      |PENDING_PAYMENT|
|918        |2013-07-25 00:00:00.0|11      |PAYMENT_REVIEW |
|1837       |2013-07-25 00:00:00.0|12      |CLOSED         |
|9149       |2013-07-25 00:00:00.0|13      |PENDING_PAYMENT|
|9842       |2013-07-25 00:00:00.0|14      |PROCESSING     |
|2568       |2013-07-25 00:00:00.0|15      |COMPLETE       |
|7276       |2013-07-25 00:00:00.0|16      |PENDING_PAYMENT|
|2667       |2013-07-25 00:00:00.0|17      |COMPLETE       |
|1205       |2013-07-25 00:00:00.0|18      |CLOSED         |
|9488       |2013-07-25 00:00:00.0|19      |PENDING_PAYMENT|
|9198       |2013-07-25 00:00:00.0|20      |PROCESSING     |
+-----------+---------------------+--------+---------------+
only showing top 20 rows

In [70]:
spark.sql("select * from orders_json").show(20, truncate = False)

+-----------+---------------------+--------+---------------+
|customer_id|order_date           |order_id|order_status   |
+-----------+---------------------+--------+---------------+
|11599      |2013-07-25 00:00:00.0|1       |CLOSED         |
|256        |2013-07-25 00:00:00.0|2       |PENDING_PAYMENT|
|12111      |2013-07-25 00:00:00.0|3       |COMPLETE       |
|8827       |2013-07-25 00:00:00.0|4       |CLOSED         |
|11318      |2013-07-25 00:00:00.0|5       |COMPLETE       |
|7130       |2013-07-25 00:00:00.0|6       |COMPLETE       |
|4530       |2013-07-25 00:00:00.0|7       |COMPLETE       |
|2911       |2013-07-25 00:00:00.0|8       |PROCESSING     |
|5657       |2013-07-25 00:00:00.0|9       |PENDING_PAYMENT|
|5648       |2013-07-25 00:00:00.0|10      |PENDING_PAYMENT|
|918        |2013-07-25 00:00:00.0|11      |PAYMENT_REVIEW |
|1837       |2013-07-25 00:00:00.0|12      |CLOSED         |
|9149       |2013-07-25 00:00:00.0|13      |PENDING_PAYMENT|
|9842       |2013-07-25 00:00:00.0|14      |PROCESSING     |
|2568       |2013-07-25 00:00:00.0|15      |COMPLETE       |
|7276       |2013-07-25 00:00:00.0|16      |PENDING_PAYMENT|
|2667       |2013-07-25 00:00:00.0|17      |COMPLETE       |
|1205       |2013-07-25 00:00:00.0|18      |CLOSED         |
|9488       |2013-07-25 00:00:00.0|19      |PENDING_PAYMENT|
|9198       |2013-07-25 00:00:00.0|20      |PROCESSING     |
+-----------+---------------------+--------+---------------+
only showing top 20 rows

<h3>1.5.4 Drop the managed and external tables and see the differences</h3>

In [71]:
spark.sql("drop table itv009033_week5_assignment.orders_json_extrenal")

++
||
++
++

In [72]:
spark.sql("drop table itv009033_week5_assignment.orders_json")

++
||
++
++

In [79]:
spark.sql("show tables").show(truncate = False)

+--------+--------------+-----------+
|database|tableName     |isTemporary|
+--------+--------------+-----------+
|        |groceries_temp|true       |
|        |order         |true       |
|        |order_json    |true       |
|        |orders        |true       |
+--------+--------------+-----------+

In [78]:
spark.stop()