In [1]:
from pyspark.sql import SparkSession
import getpass
username = getpass.getuser()
spark= SparkSession. \
builder. \
appName("itv009033_week08"). \
config('spark.ui.port','0'). \
config("spark.sql.warehouse.dir", f"/user/itv009033/warehouse"). \
enableHiveSupport(). \
master('yarn'). \
getOrCreate()

# About Dataset:

Uncover the factors that lead to employee attrition and explore important questions such as ‘show me a breakdown of distance from home by job role and attrition’ or ‘compare average monthly income by education and attrition’. This is a fictional data set created by IBM data scientists.

## Education
1. 'Below College'
2. 'College'
3. 'Bachelor'
4. 'Master'
5. 'Doctor'

## EnvironmentSatisfaction
1. 'Low'
2. 'Medium'
3. 'High'
4. 'Very High'

## JobInvolvement
1. 'Low'
2. 'Medium'
3. 'High'
4. 'Very High'

## JobSatisfaction
1. 'Low'
2. 'Medium'
3. 'High'
4. 'Very High'

## PerformanceRating
1. 'Low'
2. 'Good'
3. 'Excellent'
4. 'Outstanding'

## RelationshipSatisfaction
1. 'Low'
2. 'Medium'
3. 'High'
4. 'Very High'

## WorkLifeBalance
1. 'Bad'
2. 'Good'
3. 'Better'
4. 'Best'

https://www.kaggle.com/datasets/pavansubhasht/ibm-hr-analytics-attrition-dataset/data

# Question 3.
<h3>Select a relevant dataset of your choice and write some queries to
demonstrate the following :
- Running total, Grouping aggregates and various Window functions like
rank, dense_rank, row_num, lead, lag.
- Also try creating a pivot view.</h3>

In [2]:
file_path = "week08/WA_Fn-UseC_-HR-Employee-Attrition.csv"

In [3]:
hr_schema = "Age int, Attrition string, BusinessTravel string,DailyRate long,Department string,DistanceFromHome int,Education int,EducationField string,EmployeeCount int,EmployeeNumber int,EnvironmentSatisfaction string,Gender string,HourlyRate int,JobInvolvement int,JobLevel int,JobRole string,JobSatisfaction int,MaritalStatus string,MonthlyIncome long,MonthlyRate long,NumCompaniesWorked int,Over18 string,OverTime string,PercentSalaryHike int,PerformanceRating int,RelationshipSatisfaction int,StandardHours int,StockOptionLevel int,TotalWorkingYears int,TrainingTimesLastYear int,WorkLifeBalance int,YearsAtCompany int,YearsInCurrentRole int,YearsSinceLastPromotion int,YearsWithCurrManager int"

In [4]:
hr_df = spark.read.format("csv").schema(hr_schema).load(file_path)

In [5]:
hr_df.show(2,truncate = False)

+---+---------+-----------------+---------+----------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|BusinessTravel   |DailyRate|Department            |DistanceFromHome|Education|EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|JobRole           |JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+----------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|41 |Yes      |Travel_Rarely    |1102     |Sales                 |1               |2        |Life Sciences |1            |1             |2                      |Female|94        |3             |2       |Sales Executive   |4              |Single       |5993         |19479      |8                 |Y     |Yes     |11               |3                |1                       |80           |0               |8                |0                    |1              |6             |4                 |0                      |5                   |
|49 |No       |Travel_Frequently|279      |Research & Development|8               |1        |Life Sciences |1            |2             |3                      |Male  |61        |2             |2       |Research Scientist|2              |Married      |5130         |24907      |1                 |Y     |No      |23               |4                |4                       |80           |1               |10               |3                    |3              |10            |7                 |1                      |7                   |
+---+---------+-----------------+---------+----------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 2 rows

In [6]:
hr_df = hr_df.drop('Over18', 'EmployeeNumber','EmployeeCount','StandardHours')

In [7]:
hr_df.show()

+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+--------+-----------------+-----------------+------------------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|EducationField|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+--------+-----------------+-----------------+------------------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 41|      Yes|    Travel_Rarely|     1102|               Sales|               1|        2| Life Sciences|                      2|Female|        94|             3|       2|     Sales Executive|              4|       Single|         5993|      19479|                 8|     Yes|               11|                3|                       1|               0|                8|                    0|              1|             6|                 4|                      0|                   5|
| 49|       No|Travel_Frequently|      279|Research & Develo...|               8|        1| Life Sciences|                      3|  Male|        61|             2|       2|  Research Scientist|              2|      Married|         5130|      24907|                 1|      No|               23|                4|                       4|               1|               10|                    3|              3|            10|                 7|                      1|                   7|
| 37|      Yes|    Travel_Rarely|     1373|Research & Develo...|               2|        2|         Other|                      4|  Male|        92|             2|       1|Laboratory Techni...|              3|       Single|         2090|       2396|                 6|     Yes|               15|                3|                       2|               0|                7|                    3|              3|             0|                 0|                      0|                   0|
| 33|       No|Travel_Frequently|     1392|Research & Develo...|               3|        4| Life Sciences|                      4|Female|        56|             3|       1|  Research Scientist|              3|      Married|         2909|      23159|                 1|     Yes|               11|                3|                       3|               0|                8|                    3|              3|             8|                 7|                      3|                   0|
| 27|       No|    Travel_Rarely|      591|Research & Develo...|               2|        1|       Medical|                      1|  Male|        40|             3|       1|Laboratory Techni...|              2|      Married|         3468|      16632|                 9|      No|               12|                3|                       4|               1|                6|                    3|              3|             2|                 2|                      2|                   2|
| 32|       No|Travel_Frequently|     1005|Research & Develo...|               2|        2| Life Sciences|                      4|  Male|        79|             3|       1|Laboratory Techni...|              4|       Single|         3068|      11864|                 0|      No|               13|                3|                       3|               0|                8|                    2|              2|             7|                 7|                      3|                   6|
| 59|       No|    Travel_Rarely|     1324|Research & Develo...|               3|        3|       Medical|                      3|Female|        81|             4|       1|Laboratory Techni...|              1|      Married|         2670|       9964|                 4|     Yes|               20|                4|                       1|               3|               12|                    3|              2|             1|                 0|                      0|                   0|
| 30|       No|    Travel_Rarely|     1358|Research & Develo...|              24|        1| Life Sciences|                      4|  Male|        67|             3|       1|Laboratory Techni...|              3|     Divorced|         2693|      13335|                 1|      No|               22|                4|                       2|               1|                1|                    2|              3|             1|                 0|                      0|                   0|
| 38|       No|Travel_Frequently|      216|Research & Develo...|              23|        3| Life Sciences|                      4|  Male|        44|             2|       3|Manufacturing Dir...|              3|       Single|         9526|       8787|                 0|      No|               21|                4|                       2|               0|               10|                    2|              3|             9|                 7|                      1|                   8|
| 36|       No|    Travel_Rarely|     1299|Research & Develo...|              27|        3|       Medical|                      3|  Male|        94|             3|       2|Healthcare Repres...|              3|      Married|         5237|      16577|                 6|      No|               13|                3|                       2|               2|               17|                    3|              2|             7|                 7|                      7|                   7|
| 35|       No|    Travel_Rarely|      809|Research & Develo...|              16|        3|       Medical|                      1|  Male|        84|             4|       1|Laboratory Techni...|              2|      Married|         2426|      16479|                 0|      No|               13|                3|                       3|               1|                6|                    5|              3|             5|                 4|                      0|                   3|
| 29|       No|    Travel_Rarely|      153|Research & Develo...|              15|        2| Life Sciences|                      4|Female|        49|             2|       2|Laboratory Techni...|              3|       Single|         4193|      12682|                 0|     Yes|               12|                3|                       4|               0|               10|                    3|              3|             9|                 5|                      0|                   8|
| 31|       No|    Travel_Rarely|      670|Research & Develo...|              26|        1| Life Sciences|                      1|  Male|        31|             3|       1|  Research Scientist|              3|     Divorced|         2911|      15170|                 1|      No|               17|                3|                       4|               1|                5|                    1|              2|             5|                 2|                      4|                   3|
| 34|       No|    Travel_Rarely|     1346|Research & Develo...|              19|        2|       Medical|                      2|  Male|        93|             3|       1|Laboratory Techni...|              4|     Divorced|         2661|       8758|                 0|      No|               11|                3|                       3|               1|                3|                    2|              3|             2|                 2|                      1|                   2|
| 28|      Yes|    Travel_Rarely|      103|Research & Develo...|              24|        3| Life Sciences|                      3|  Male|        50|             2|       1|Laboratory Techni...|              3|       Single|         2028|      12947|                 5|     Yes|               14|                3|                       2|               0|                6|                    4|              3|             4|                 2|                      0|                   3|
| 29|       No|    Travel_Rarely|     1389|Research & Develo...|              21|        4| Life Sciences|                      2|Female|        51|             4|       3|Manufacturing Dir...|              1|     Divorced|         9980|      10195|                 1|      No|               11|                3|                       3|               1|               10|                    1|              3|            10|                 9|                      8|                   8|
| 32|       No|    Travel_Rarely|      334|Research & Develo...|               5|        2| Life Sciences|                      1|  Male|        80|             4|       1|  Research Scientist|              2|     Divorced|         3298|      15053|                 0|     Yes|               12|                3|                       4|               2|                7|                    5|              2|             6|                 2|                      0|                   5|
| 22|       No|       Non-Travel|     1123|Research & Develo...|              16|        2|       Medical|                      4|  Male|        96|             4|       1|Laboratory Techni...|              4|     Divorced|         2935|       7324|                 1|     Yes|               13|                3|                       2|               2|                1|                    2|              2|             1|                 0|                      0|                   0|
| 53|       No|    Travel_Rarely|     1219|               Sales|               2|        4| Life Sciences|                      1|Female|        78|             2|       4|             Manager|              4|      Married|        15427|      22021|                 2|      No|               16|                3|                       3|               0|               31|                    3|              3|            25|                 8|                      3|                   7|
| 38|       No|    Travel_Rarely|      371|Research & Develo...|               2|        3| Life Sciences|                      4|  Male|        45|             3|       1|  Research Scientist|              4|       Single|         3944|       4306|                 5|     Yes|               11|                3|                       3|               0|                6|                    3|              3|             3|                 2|                      1|                   2|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+--------+-----------------+-----------------+------------------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

## Attritions

In [8]:
att_df =  hr_df.groupBy("Attrition").count().withColumnRenamed("count", "count_of_attritions").sort("count_of_attritions")

In [9]:
att_df.show()

+---------+-------------------+
|Attrition|count_of_attritions|
+---------+-------------------+
|      Yes|                237|
|       No|               1233|
+---------+-------------------+

In [10]:
att = hr_df.filter((hr_df.Attrition == "Yes"))
att.show()

+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+--------+-----------------+-----------------+------------------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|  EducationField|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+--------+-----------------+-----------------+------------------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 41|      Yes|    Travel_Rarely|     1102|               Sales|               1|        2|   Life Sciences|                      2|Female|        94|             3|       2|     Sales Executive|              4|       Single|         5993|      19479|                 8|     Yes|               11|                3|                       1|               0|                8|                    0|              1|             6|                 4|                      0|                   5|
| 37|      Yes|    Travel_Rarely|     1373|Research & Develo...|               2|        2|           Other|                      4|  Male|        92|             2|       1|Laboratory Techni...|              3|       Single|         2090|       2396|                 6|     Yes|               15|                3|                       2|               0|                7|                    3|              3|             0|                 0|                      0|                   0|
| 28|      Yes|    Travel_Rarely|      103|Research & Develo...|              24|        3|   Life Sciences|                      3|  Male|        50|             2|       1|Laboratory Techni...|              3|       Single|         2028|      12947|                 5|     Yes|               14|                3|                       2|               0|                6|                    4|              3|             4|                 2|                      0|                   3|
| 36|      Yes|    Travel_Rarely|     1218|               Sales|               9|        4|   Life Sciences|                      3|  Male|        82|             2|       1|Sales Representative|              1|       Single|         3407|       6986|                 7|      No|               23|                4|                       2|               0|               10|                    4|              3|             5|                 3|                      0|                   3|
| 34|      Yes|    Travel_Rarely|      699|Research & Develo...|               6|        1|         Medical|                      2|  Male|        83|             3|       1|  Research Scientist|              1|       Single|         2960|      17102|                 2|      No|               11|                3|                       3|               0|                8|                    2|              3|             4|                 2|                      1|                   3|
| 32|      Yes|Travel_Frequently|     1125|Research & Develo...|              16|        1|   Life Sciences|                      2|Female|        72|             1|       1|  Research Scientist|              1|       Single|         3919|       4681|                 1|     Yes|               22|                4|                       2|               0|               10|                    5|              3|            10|                 2|                      6|                   7|
| 39|      Yes|    Travel_Rarely|      895|               Sales|               5|        3|Technical Degree|                      4|  Male|        56|             3|       2|Sales Representative|              4|      Married|         2086|       3335|                 3|      No|               14|                3|                       3|               1|               19|                    6|              4|             1|                 0|                      0|                   0|
| 24|      Yes|    Travel_Rarely|      813|Research & Develo...|               1|        3|         Medical|                      2|  Male|        61|             3|       1|  Research Scientist|              4|      Married|         2293|       3020|                 2|     Yes|               16|                3|                       1|               1|                6|                    2|              2|             2|                 0|                      2|                   0|
| 50|      Yes|    Travel_Rarely|      869|               Sales|               3|        2|       Marketing|                      1|  Male|        86|             2|       1|Sales Representative|              3|      Married|         2683|       3810|                 1|     Yes|               14|                3|                       3|               0|                3|                    2|              3|             3|                 2|                      0|                   2|
| 26|      Yes|    Travel_Rarely|     1357|Research & Develo...|              25|        3|   Life Sciences|                      1|  Male|        48|             1|       1|Laboratory Techni...|              3|       Single|         2293|      10558|                 1|      No|               12|                3|                       3|               0|                1|                    2|              2|             1|                 0|                      0|                   1|
| 41|      Yes|    Travel_Rarely|     1360|Research & Develo...|              12|        3|Technical Degree|                      2|Female|        49|             3|       5|   Research Director|              3|      Married|        19545|      16280|                 1|      No|               12|                3|                       4|               0|               23|                    0|              3|            22|                15|                     15|                   8|
| 48|      Yes|    Travel_Rarely|      626|Research & Develo...|               1|        2|   Life Sciences|                      1|  Male|        98|             2|       3|Laboratory Techni...|              3|       Single|         5381|      19294|                 9|     Yes|               13|                3|                       4|               0|               23|                    2|              3|             1|                 0|                      0|                   0|
| 28|      Yes|    Travel_Rarely|     1434|Research & Develo...|               5|        4|Technical Degree|                      3|  Male|        50|             3|       1|Laboratory Techni...|              3|       Single|         3441|      11179|                 1|     Yes|               13|                3|                       3|               0|                2|                    3|              2|             2|                 2|                      2|                   2|
| 36|      Yes|    Travel_Rarely|      318|Research & Develo...|               9|        3|         Medical|                      4|  Male|        79|             2|       1|  Research Scientist|              3|      Married|         3388|      21777|                 0|     Yes|               17|                3|                       1|               1|                2|                    0|              2|             1|                 0|                      0|                   0|
| 46|      Yes|    Travel_Rarely|      669|               Sales|               9|        2|         Medical|                      3|  Male|        64|             2|       3|     Sales Executive|              4|       Single|         9619|      13596|                 1|      No|               16|                3|                       4|               0|                9|                    3|              3|             9|                 8|                      4|                   7|
| 37|      Yes|    Travel_Rarely|      807|     Human Resources|               6|        4| Human Resources|                      3|  Male|        63|             3|       1|     Human Resources|              1|     Divorced|         2073|      23648|                 4|     Yes|               22|                4|                       4|               0|                7|                    3|              3|             3|                 2|                      0|                   2|
| 20|      Yes|Travel_Frequently|      871|Research & Develo...|               6|        3|   Life Sciences|                      4|Female|        66|             2|       1|Laboratory Techni...|              4|       Single|         2926|      19783|                 1|     Yes|               18|                3|                       2|               0|                1|                    5|              3|             1|                 0|                      1|                   0|
| 25|      Yes|    Travel_Rarely|      240|               Sales|               5|        3|       Marketing|                      3|  Male|        46|             2|       2|     Sales Executive|              3|       Single|         5744|      26959|                 1|     Yes|               11|                3|                       4|               0|                6|                    1|              3|             6|                 4|                      0|                   3|
| 34|      Yes|Travel_Frequently|      658|Research & Develo...|               7|        3|   Life Sciences|                      1|  Male|        66|             1|       2|Laboratory Techni...|              3|       Single|         6074|      22887|                 1|     Yes|               24|                4|                       4|               0|                9|                    3|              3|             9|                 7|                      0|                   6|
| 56|      Yes|    Travel_Rarely|      441|Research & Develo...|              14|        4|   Life Sciences|                      2|Female|        72|             3|       1|  Research Scientist|              2|      Married|         4963|       4510|                 9|     Yes|               18|                3|                       1|               3|                7|                    2|              3|             5|                 4|                      4|                   3|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+--------+-----------------+-----------------+------------------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

## Attritions Per department

In [11]:
att_dept = hr_df.filter((hr_df.Attrition == "Yes"))
att_dept.show()

+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+--------+-----------------+-----------------+------------------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|  EducationField|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+--------+-----------------+-----------------+------------------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 41|      Yes|    Travel_Rarely|     1102|               Sales|               1|        2|   Life Sciences|                      2|Female|        94|             3|       2|     Sales Executive|              4|       Single|         5993|      19479|                 8|     Yes|               11|                3|                       1|               0|                8|                    0|              1|             6|                 4|                      0|                   5|
| 37|      Yes|    Travel_Rarely|     1373|Research & Develo...|               2|        2|           Other|                      4|  Male|        92|             2|       1|Laboratory Techni...|              3|       Single|         2090|       2396|                 6|     Yes|               15|                3|                       2|               0|                7|                    3|              3|             0|                 0|                      0|                   0|
| 28|      Yes|    Travel_Rarely|      103|Research & Develo...|              24|        3|   Life Sciences|                      3|  Male|        50|             2|       1|Laboratory Techni...|              3|       Single|         2028|      12947|                 5|     Yes|               14|                3|                       2|               0|                6|                    4|              3|             4|                 2|                      0|                   3|
| 36|      Yes|    Travel_Rarely|     1218|               Sales|               9|        4|   Life Sciences|                      3|  Male|        82|             2|       1|Sales Representative|              1|       Single|         3407|       6986|                 7|      No|               23|                4|                       2|               0|               10|                    4|              3|             5|                 3|                      0|                   3|
| 34|      Yes|    Travel_Rarely|      699|Research & Develo...|               6|        1|         Medical|                      2|  Male|        83|             3|       1|  Research Scientist|              1|       Single|         2960|      17102|                 2|      No|               11|                3|                       3|               0|                8|                    2|              3|             4|                 2|                      1|                   3|
| 32|      Yes|Travel_Frequently|     1125|Research & Develo...|              16|        1|   Life Sciences|                      2|Female|        72|             1|       1|  Research Scientist|              1|       Single|         3919|       4681|                 1|     Yes|               22|                4|                       2|               0|               10|                    5|              3|            10|                 2|                      6|                   7|
| 39|      Yes|    Travel_Rarely|      895|               Sales|               5|        3|Technical Degree|                      4|  Male|        56|             3|       2|Sales Representative|              4|      Married|         2086|       3335|                 3|      No|               14|                3|                       3|               1|               19|                    6|              4|             1|                 0|                      0|                   0|
| 24|      Yes|    Travel_Rarely|      813|Research & Develo...|               1|        3|         Medical|                      2|  Male|        61|             3|       1|  Research Scientist|              4|      Married|         2293|       3020|                 2|     Yes|               16|                3|                       1|               1|                6|                    2|              2|             2|                 0|                      2|                   0|
| 50|      Yes|    Travel_Rarely|      869|               Sales|               3|        2|       Marketing|                      1|  Male|        86|             2|       1|Sales Representative|              3|      Married|         2683|       3810|                 1|     Yes|               14|                3|                       3|               0|                3|                    2|              3|             3|                 2|                      0|                   2|
| 26|      Yes|    Travel_Rarely|     1357|Research & Develo...|              25|        3|   Life Sciences|                      1|  Male|        48|             1|       1|Laboratory Techni...|              3|       Single|         2293|      10558|                 1|      No|               12|                3|                       3|               0|                1|                    2|              2|             1|                 0|                      0|                   1|
| 41|      Yes|    Travel_Rarely|     1360|Research & Develo...|              12|        3|Technical Degree|                      2|Female|        49|             3|       5|   Research Director|              3|      Married|        19545|      16280|                 1|      No|               12|                3|                       4|               0|               23|                    0|              3|            22|                15|                     15|                   8|
| 48|      Yes|    Travel_Rarely|      626|Research & Develo...|               1|        2|   Life Sciences|                      1|  Male|        98|             2|       3|Laboratory Techni...|              3|       Single|         5381|      19294|                 9|     Yes|               13|                3|                       4|               0|               23|                    2|              3|             1|                 0|                      0|                   0|
| 28|      Yes|    Travel_Rarely|     1434|Research & Develo...|               5|        4|Technical Degree|                      3|  Male|        50|             3|       1|Laboratory Techni...|              3|       Single|         3441|      11179|                 1|     Yes|               13|                3|                       3|               0|                2|                    3|              2|             2|                 2|                      2|                   2|
| 36|      Yes|    Travel_Rarely|      318|Research & Develo...|               9|        3|         Medical|                      4|  Male|        79|             2|       1|  Research Scientist|              3|      Married|         3388|      21777|                 0|     Yes|               17|                3|                       1|               1|                2|                    0|              2|             1|                 0|                      0|                   0|
| 46|      Yes|    Travel_Rarely|      669|               Sales|               9|        2|         Medical|                      3|  Male|        64|             2|       3|     Sales Executive|              4|       Single|         9619|      13596|                 1|      No|               16|                3|                       4|               0|                9|                    3|              3|             9|                 8|                      4|                   7|
| 37|      Yes|    Travel_Rarely|      807|     Human Resources|               6|        4| Human Resources|                      3|  Male|        63|             3|       1|     Human Resources|              1|     Divorced|         2073|      23648|                 4|     Yes|               22|                4|                       4|               0|                7|                    3|              3|             3|                 2|                      0|                   2|
| 20|      Yes|Travel_Frequently|      871|Research & Develo...|               6|        3|   Life Sciences|                      4|Female|        66|             2|       1|Laboratory Techni...|              4|       Single|         2926|      19783|                 1|     Yes|               18|                3|                       2|               0|                1|                    5|              3|             1|                 0|                      1|                   0|
| 25|      Yes|    Travel_Rarely|      240|               Sales|               5|        3|       Marketing|                      3|  Male|        46|             2|       2|     Sales Executive|              3|       Single|         5744|      26959|                 1|     Yes|               11|                3|                       4|               0|                6|                    1|              3|             6|                 4|                      0|                   3|
| 34|      Yes|Travel_Frequently|      658|Research & Develo...|               7|        3|   Life Sciences|                      1|  Male|        66|             1|       2|Laboratory Techni...|              3|       Single|         6074|      22887|                 1|     Yes|               24|                4|                       4|               0|                9|                    3|              3|             9|                 7|                      0|                   6|
| 56|      Yes|    Travel_Rarely|      441|Research & Develo...|              14|        4|   Life Sciences|                      2|Female|        72|             3|       1|  Research Scientist|              2|      Married|         4963|       4510|                 9|     Yes|               18|                3|                       1|               3|                7|                    2|              3|             5|                 4|                      4|                   3|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+--------+-----------------+-----------------+------------------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

In [12]:
att_dept = att_dept.groupBy("Department", "Attrition").count().withColumnRenamed("count", "count_of_attritions_per_dept").sort("count_of_attritions_per_dept", ascending =  False)

In [13]:
att_dept.show(truncate= False)

+----------------------+---------+----------------------------+
|Department            |Attrition|count_of_attritions_per_dept|
+----------------------+---------+----------------------------+
|Research & Development|Yes      |133                         |
|Sales                 |Yes      |92                          |
|Human Resources       |Yes      |12                          |
+----------------------+---------+----------------------------+

In [14]:
att_gender = att.groupBy("gender", "Attrition").count().withColumnRenamed("count", "count_of_attritions_per_gender").sort("count_of_attritions_per_gender", ascending =  False)

In [15]:
att_gender.show()

+------+---------+------------------------------+
|gender|Attrition|count_of_attritions_per_gender|
+------+---------+------------------------------+
|  Male|      Yes|                           150|
|Female|      Yes|                            87|
+------+---------+------------------------------+

In [16]:
att_role = att.groupBy("OverTime", "Attrition", "Attrition").count().withColumnRenamed("count", "count_of_attritions_per_gender").sort("count_of_attritions_per_gender", ascending =  False)
att_role.show(truncate = False)

+--------+---------+---------+------------------------------+
|OverTime|Attrition|Attrition|count_of_attritions_per_gender|
+--------+---------+---------+------------------------------+
|Yes     |Yes      |Yes      |127                           |
|No      |Yes      |Yes      |110                           |
+--------+---------+---------+------------------------------+

In [17]:
att_time = att.groupBy("OverTime", "Attrition").count().withColumnRenamed("count", "count_of_attritions_per_gender").sort("count_of_attritions_per_gender", ascending =  False)
att_time.show()

+--------+---------+------------------------------+
|OverTime|Attrition|count_of_attritions_per_gender|
+--------+---------+------------------------------+
|     Yes|      Yes|                           127|
|      No|      Yes|                           110|
+--------+---------+------------------------------+

In [18]:
salary = hr_df.select("MonthlyRate", "Attrition").sort("MonthlyRate")
salary.show()

+-----------+---------+
|MonthlyRate|Attrition|
+-----------+---------+
|       2094|       No|
|       2097|       No|
|       2104|       No|
|       2112|       No|
|       2122|       No|
|       2125|       No|
|       2125|       No|
|       2137|       No|
|       2227|       No|
|       2243|       No|
|       2253|       No|
|       2261|       No|
|       2288|       No|
|       2302|       No|
|       2323|       No|
|       2326|      Yes|
|       2338|       No|
|       2354|       No|
|       2373|       No|
|       2396|      Yes|
+-----------+---------+
only showing top 20 rows

In [19]:
final_df = hr_df.select("OverTime","OverTime","gender", "Department","MonthlyIncome","MonthlyRate","Attrition").cache()

In [20]:
final_df.show(truncate = False)

+--------+--------+------+----------------------+-------------+-----------+---------+
|OverTime|OverTime|gender|Department            |MonthlyIncome|MonthlyRate|Attrition|
+--------+--------+------+----------------------+-------------+-----------+---------+
|Yes     |Yes     |Female|Sales                 |5993         |19479      |Yes      |
|No      |No      |Male  |Research & Development|5130         |24907      |No       |
|Yes     |Yes     |Male  |Research & Development|2090         |2396       |Yes      |
|Yes     |Yes     |Female|Research & Development|2909         |23159      |No       |
|No      |No      |Male  |Research & Development|3468         |16632      |No       |
|No      |No      |Male  |Research & Development|3068         |11864      |No       |
|Yes     |Yes     |Female|Research & Development|2670         |9964       |No       |
|No      |No      |Male  |Research & Development|2693         |13335      |No       |
|No      |No      |Male  |Research & Development|9526         |8787       |No       |
|No      |No      |Male  |Research & Development|5237         |16577      |No       |
|No      |No      |Male  |Research & Development|2426         |16479      |No       |
|Yes     |Yes     |Female|Research & Development|4193         |12682      |No       |
|No      |No      |Male  |Research & Development|2911         |15170      |No       |
|No      |No      |Male  |Research & Development|2661         |8758       |No       |
|Yes     |Yes     |Male  |Research & Development|2028         |12947      |Yes      |
|No      |No      |Female|Research & Development|9980         |10195      |No       |
|Yes     |Yes     |Male  |Research & Development|3298         |15053      |No       |
|Yes     |Yes     |Male  |Research & Development|2935         |7324       |No       |
|No      |No      |Female|Sales                 |15427        |22021      |No       |
|Yes     |Yes     |Male  |Research & Development|3944         |4306       |No       |
+--------+--------+------+----------------------+-------------+-----------+---------+
only showing top 20 rows

In [21]:
final_df = final_df.withColumn("profit", final_df.MonthlyRate - final_df.MonthlyIncome)

In [22]:
final_df.show(truncate =  False)

+--------+--------+------+----------------------+-------------+-----------+---------+------+
|OverTime|OverTime|gender|Department            |MonthlyIncome|MonthlyRate|Attrition|profit|
+--------+--------+------+----------------------+-------------+-----------+---------+------+
|Yes     |Yes     |Female|Sales                 |5993         |19479      |Yes      |13486 |
|No      |No      |Male  |Research & Development|5130         |24907      |No       |19777 |
|Yes     |Yes     |Male  |Research & Development|2090         |2396       |Yes      |306   |
|Yes     |Yes     |Female|Research & Development|2909         |23159      |No       |20250 |
|No      |No      |Male  |Research & Development|3468         |16632      |No       |13164 |
|No      |No      |Male  |Research & Development|3068         |11864      |No       |8796  |
|Yes     |Yes     |Female|Research & Development|2670         |9964       |No       |7294  |
|No      |No      |Male  |Research & Development|2693         |13335      |No       |10642 |
|No      |No      |Male  |Research & Development|9526         |8787       |No       |-739  |
|No      |No      |Male  |Research & Development|5237         |16577      |No       |11340 |
|No      |No      |Male  |Research & Development|2426         |16479      |No       |14053 |
|Yes     |Yes     |Female|Research & Development|4193         |12682      |No       |8489  |
|No      |No      |Male  |Research & Development|2911         |15170      |No       |12259 |
|No      |No      |Male  |Research & Development|2661         |8758       |No       |6097  |
|Yes     |Yes     |Male  |Research & Development|2028         |12947      |Yes      |10919 |
|No      |No      |Female|Research & Development|9980         |10195      |No       |215   |
|Yes     |Yes     |Male  |Research & Development|3298         |15053      |No       |11755 |
|Yes     |Yes     |Male  |Research & Development|2935         |7324       |No       |4389  |
|No      |No      |Female|Sales                 |15427        |22021      |No       |6594  |
|Yes     |Yes     |Male  |Research & Development|3944         |4306       |No       |362   |
+--------+--------+------+----------------------+-------------+-----------+---------+------+
only showing top 20 rows

In [23]:
final_df.select("Department", "Attrition", "profit").sort("Attrition").show(truncate = False)

+----------------------+---------+------+
|Department            |Attrition|profit|
+----------------------+---------+------+
|Research & Development|No       |9299  |
|Research & Development|No       |2623  |
|Research & Development|No       |18049 |
|Research & Development|No       |19777 |
|Research & Development|No       |-8359 |
|Research & Development|No       |20250 |
|Sales                 |No       |14348 |
|Research & Development|No       |8796  |
|Research & Development|No       |-8154 |
|Research & Development|No       |10642 |
|Sales                 |No       |3875  |
|Research & Development|No       |11340 |
|Research & Development|No       |4174  |
|Research & Development|No       |8489  |
|Research & Development|No       |12656 |
|Research & Development|No       |6097  |
|Research & Development|No       |13911 |
|Research & Development|No       |215   |
|Research & Development|No       |19278 |
|Research & Development|No       |4389  |
+----------------------+---------+------+
only showing top 20 rows

In [24]:
final_df = final_df.cache()

In [25]:
final_df.count()

1470

In [26]:
final_df.count()

1470

# 1. Using Row Number

In [27]:
final_df.select("*").sort("Department").show(truncate = False)

+--------+--------+------+---------------+-------------+-----------+---------+------+
|OverTime|OverTime|gender|Department     |MonthlyIncome|MonthlyRate|Attrition|profit|
+--------+--------+------+---------------+-------------+-----------+---------+------+
|Yes     |Yes     |Male  |Human Resources|5021         |10425      |No       |5404  |
|No      |No      |Male  |Human Resources|4936         |23965      |No       |19029 |
|Yes     |Yes     |Male  |Human Resources|2073         |23648      |Yes      |21575 |
|No      |No      |Female|Human Resources|18844        |21922      |No       |3078  |
|Yes     |Yes     |Female|Human Resources|17328        |13871      |No       |-3457 |
|No      |No      |Female|Human Resources|2942         |8916       |No       |5974  |
|Yes     |Yes     |Male  |Human Resources|6347         |13982      |No       |7635  |
|No      |No      |Male  |Human Resources|2267         |25657      |No       |23390 |
|No      |No      |Male  |Human Resources|6410         |17822      |No       |11412 |
|Yes     |Yes     |Male  |Human Resources|2696         |24017      |No       |21321 |
|No      |No      |Male  |Human Resources|2564         |18437      |Yes      |15873 |
|Yes     |Yes     |Female|Human Resources|9950         |11533      |Yes      |1583  |
|Yes     |Yes     |Female|Human Resources|2741         |22808      |Yes      |20067 |
|No      |No      |Male  |Human Resources|18200        |7999       |No       |-10201|
|No      |No      |Female|Human Resources|5985         |26894      |No       |20909 |
|No      |No      |Male  |Human Resources|10725        |6729       |No       |-3996 |
|No      |No      |Male  |Human Resources|19141        |8861       |No       |-10280|
|No      |No      |Male  |Human Resources|19189        |19562      |No       |373   |
|No      |No      |Female|Human Resources|6389         |18767      |No       |12378 |
|No      |No      |Male  |Human Resources|2143         |25527      |No       |23384 |
+--------+--------+------+---------------+-------------+-----------+---------+------+
only showing top 20 rows

In [28]:
from pyspark.sql.functions import col, row_number
from pyspark.sql.window import Window
from pyspark.sql.functions import desc

In [29]:
myWindow =  Window.partitionBy("Department").orderBy(desc("MonthlyIncome"))

In [30]:
df2 =  final_df.withColumn("Number", row_number().over(myWindow)).cache()

In [31]:
df2.select("Number","Department","gender", "MonthlyIncome").show(truncate = False)

+------+----------+------+-------------+
|Number|Department|gender|MonthlyIncome|
+------+----------+------+-------------+
|1     |Sales     |Male  |19847        |
|2     |Sales     |Female|19845        |
|3     |Sales     |Male  |19833        |
|4     |Sales     |Male  |19586        |
|5     |Sales     |Female|19517        |
|6     |Sales     |Male  |19331        |
|7     |Sales     |Male  |19068        |
|8     |Sales     |Female|18947        |
|9     |Sales     |Female|18824        |
|10    |Sales     |Female|18789        |
|11    |Sales     |Male  |18303        |
|12    |Sales     |Male  |18213        |
|13    |Sales     |Female|18041        |
|14    |Sales     |Female|17875        |
|15    |Sales     |Female|17650        |
|16    |Sales     |Male  |17567        |
|17    |Sales     |Male  |17465        |
|18    |Sales     |Male  |17444        |
|19    |Sales     |Female|17048        |
|20    |Sales     |Male  |16959        |
+------+----------+------+-------------+
only showing top 20 rows

# 2. Top Department By income(monthly)

In [32]:
myWindow =  Window.partitionBy("Department").orderBy(desc("MonthlyIncome"))

In [33]:
final_df.select("Department", "gender", "MonthlyIncome").show(truncate = False)

+----------------------+------+-------------+
|Department            |gender|MonthlyIncome|
+----------------------+------+-------------+
|Sales                 |Female|5993         |
|Research & Development|Male  |5130         |
|Research & Development|Male  |2090         |
|Research & Development|Female|2909         |
|Research & Development|Male  |3468         |
|Research & Development|Male  |3068         |
|Research & Development|Female|2670         |
|Research & Development|Male  |2693         |
|Research & Development|Male  |9526         |
|Research & Development|Male  |5237         |
|Research & Development|Male  |2426         |
|Research & Development|Female|4193         |
|Research & Development|Male  |2911         |
|Research & Development|Male  |2661         |
|Research & Development|Male  |2028         |
|Research & Development|Female|9980         |
|Research & Development|Male  |3298         |
|Research & Development|Male  |2935         |
|Sales                 |Female|15427        |
|Research & Development|Male  |3944         |
+----------------------+------+-------------+
only showing top 20 rows

In [34]:
from pyspark.sql.functions import rank

In [35]:
df3 =  final_df.select("Department", "MonthlyIncome").withColumn("rank", rank().over(myWindow)).cache()
df3.show()

+----------+-------------+----+
|Department|MonthlyIncome|rank|
+----------+-------------+----+
|     Sales|        19847|   1|
|     Sales|        19845|   2|
|     Sales|        19833|   3|
|     Sales|        19586|   4|
|     Sales|        19517|   5|
|     Sales|        19331|   6|
|     Sales|        19068|   7|
|     Sales|        18947|   8|
|     Sales|        18824|   9|
|     Sales|        18789|  10|
|     Sales|        18303|  11|
|     Sales|        18213|  12|
|     Sales|        18041|  13|
|     Sales|        17875|  14|
|     Sales|        17650|  15|
|     Sales|        17567|  16|
|     Sales|        17465|  17|
|     Sales|        17444|  18|
|     Sales|        17048|  19|
|     Sales|        16959|  20|
+----------+-------------+----+
only showing top 20 rows

In [36]:
df_salary = df3.groupBy("Department").sum("MonthlyIncome")

In [37]:
df_salary.select("Department", "sum(MonthlyIncome)").withColumnRenamed("sum(MonthlyIncome)", "salary").show(truncate = False)

+----------------------+-------+
|Department            |salary |
+----------------------+-------+
|Sales                 |3103791|
|Research & Development|6036284|
|Human Resources       |419234 |
+----------------------+-------+

In [38]:
from pyspark.sql.functions import dense_rank

In [39]:
df3 =  final_df.select("Department", "MonthlyIncome").withColumn("rank", dense_rank().over(myWindow)).cache()
df3.show()

+----------+-------------+----+
|Department|MonthlyIncome|rank|
+----------+-------------+----+
|     Sales|        19847|   1|
|     Sales|        19845|   2|
|     Sales|        19833|   3|
|     Sales|        19586|   4|
|     Sales|        19517|   5|
|     Sales|        19331|   6|
|     Sales|        19068|   7|
|     Sales|        18947|   8|
|     Sales|        18824|   9|
|     Sales|        18789|  10|
|     Sales|        18303|  11|
|     Sales|        18213|  12|
|     Sales|        18041|  13|
|     Sales|        17875|  14|
|     Sales|        17650|  15|
|     Sales|        17567|  16|
|     Sales|        17465|  17|
|     Sales|        17444|  18|
|     Sales|        17048|  19|
|     Sales|        16959|  20|
+----------+-------------+----+
only showing top 20 rows

## Lag

In [40]:
from pyspark.sql.functions import lag

In [41]:
cumm = final_df.select("Department","gender", "MonthlyIncome").orderBy("Department")
cumm.show(truncate = False)

+---------------+------+-------------+
|Department     |gender|MonthlyIncome|
+---------------+------+-------------+
|Human Resources|Male  |5021         |
|Human Resources|Male  |4936         |
|Human Resources|Male  |2073         |
|Human Resources|Female|18844        |
|Human Resources|Female|17328        |
|Human Resources|Female|2942         |
|Human Resources|Male  |6347         |
|Human Resources|Male  |2267         |
|Human Resources|Male  |6410         |
|Human Resources|Male  |2696         |
|Human Resources|Male  |2564         |
|Human Resources|Female|9950         |
|Human Resources|Female|2741         |
|Human Resources|Male  |18200        |
|Human Resources|Female|5985         |
|Human Resources|Male  |10725        |
|Human Resources|Male  |19141        |
|Human Resources|Male  |19189        |
|Human Resources|Female|6389         |
|Human Resources|Male  |2143         |
+---------------+------+-------------+
only showing top 20 rows

In [42]:
myWindow =  Window.partitionBy("Department").orderBy(desc("MonthlyIncome"))

In [43]:
lagger = final_df.select("Department", "MonthlyIncome").withColumn("previous_value", lag("MonthlyIncome").over(myWindow))

In [44]:
lagger.show()

+----------+-------------+--------------+
|Department|MonthlyIncome|previous_value|
+----------+-------------+--------------+
|     Sales|        19847|          null|
|     Sales|        19845|         19847|
|     Sales|        19833|         19845|
|     Sales|        19586|         19833|
|     Sales|        19517|         19586|
|     Sales|        19331|         19517|
|     Sales|        19068|         19331|
|     Sales|        18947|         19068|
|     Sales|        18824|         18947|
|     Sales|        18789|         18824|
|     Sales|        18303|         18789|
|     Sales|        18213|         18303|
|     Sales|        18041|         18213|
|     Sales|        17875|         18041|
|     Sales|        17650|         17875|
|     Sales|        17567|         17650|
|     Sales|        17465|         17567|
|     Sales|        17444|         17465|
|     Sales|        17048|         17444|
|     Sales|        16959|         17048|
+----------+-------------+--------------+
only showing top 20 rows

In [45]:
comparison = lagger.withColumn("cumm_sum", lagger.MonthlyIncome + lagger.previous_value)

In [46]:
comparison.show()

+----------+-------------+--------------+--------+
|Department|MonthlyIncome|previous_value|cumm_sum|
+----------+-------------+--------------+--------+
|     Sales|        19847|          null|    null|
|     Sales|        19845|         19847|   39692|
|     Sales|        19833|         19845|   39678|
|     Sales|        19586|         19833|   39419|
|     Sales|        19517|         19586|   39103|
|     Sales|        19331|         19517|   38848|
|     Sales|        19068|         19331|   38399|
|     Sales|        18947|         19068|   38015|
|     Sales|        18824|         18947|   37771|
|     Sales|        18789|         18824|   37613|
|     Sales|        18303|         18789|   37092|
|     Sales|        18213|         18303|   36516|
|     Sales|        18041|         18213|   36254|
|     Sales|        17875|         18041|   35916|
|     Sales|        17650|         17875|   35525|
|     Sales|        17567|         17650|   35217|
|     Sales|        17465|         17567|   35032|
|     Sales|        17444|         17465|   34909|
|     Sales|        17048|         17444|   34492|
|     Sales|        16959|         17048|   34007|
+----------+-------------+--------------+--------+
only showing top 20 rows

## Lead

In [47]:
from pyspark.sql.functions import lead

In [48]:
leader = final_df.select("Department","gender", "MonthlyIncome").withColumn("next", lead("MonthlyIncome").over(myWindow))
leader.show()

+----------+------+-------------+-----+
|Department|gender|MonthlyIncome| next|
+----------+------+-------------+-----+
|     Sales|  Male|        19847|19845|
|     Sales|Female|        19845|19833|
|     Sales|  Male|        19833|19586|
|     Sales|  Male|        19586|19517|
|     Sales|Female|        19517|19331|
|     Sales|  Male|        19331|19068|
|     Sales|  Male|        19068|18947|
|     Sales|Female|        18947|18824|
|     Sales|Female|        18824|18789|
|     Sales|Female|        18789|18303|
|     Sales|  Male|        18303|18213|
|     Sales|  Male|        18213|18041|
|     Sales|Female|        18041|17875|
|     Sales|Female|        17875|17650|
|     Sales|Female|        17650|17567|
|     Sales|  Male|        17567|17465|
|     Sales|  Male|        17465|17444|
|     Sales|  Male|        17444|17048|
|     Sales|Female|        17048|16959|
|     Sales|  Male|        16959|16872|
+----------+------+-------------+-----+
only showing top 20 rows

## pivot

In [49]:
cumm.show(truncate = False)

+---------------+------+-------------+
|Department     |gender|MonthlyIncome|
+---------------+------+-------------+
|Human Resources|Male  |5021         |
|Human Resources|Male  |4936         |
|Human Resources|Male  |2073         |
|Human Resources|Female|18844        |
|Human Resources|Female|17328        |
|Human Resources|Female|2942         |
|Human Resources|Male  |6347         |
|Human Resources|Male  |2267         |
|Human Resources|Male  |6410         |
|Human Resources|Male  |2696         |
|Human Resources|Male  |2564         |
|Human Resources|Female|9950         |
|Human Resources|Female|2741         |
|Human Resources|Male  |18200        |
|Human Resources|Female|5985         |
|Human Resources|Male  |10725        |
|Human Resources|Male  |19141        |
|Human Resources|Male  |19189        |
|Human Resources|Female|6389         |
|Human Resources|Male  |2143         |
+---------------+------+-------------+
only showing top 20 rows

In [50]:
from pyspark.sql.functions import sum

In [51]:
pivot_df = cumm.groupBy("Department", "gender").sum("MonthlyIncome").sort("sum(MonthlyIncome)", ascending = False)
pivot_df.show(truncate = False)

+----------------------+------+------------------+
|Department            |gender|sum(MonthlyIncome)|
+----------------------+------+------------------+
|Research & Development|Male  |3567595           |
|Research & Development|Female|2468689           |
|Sales                 |Male  |1786059           |
|Sales                 |Female|1317732           |
|Human Resources       |Male  |273954            |
|Human Resources       |Female|145280            |
+----------------------+------+------------------+

In [52]:
result = cumm.groupBy("gender").pivot("Department").agg(sum("MonthlyIncome"))
result.show()

+------+---------------+----------------------+-------+
|gender|Human Resources|Research & Development|  Sales|
+------+---------------+----------------------+-------+
|Female|         145280|               2468689|1317732|
|  Male|         273954|               3567595|1786059|
+------+---------------+----------------------+-------+

In [61]:
##########################################################
dup_schema = "Id string, Name string, Occupation string, Salary long"

In [62]:
duplicate =  spark.read.format("csv").schema(dup_schema).load("data/week08/employment.csv")
duplicate.show()

+----+-------+----------+------+
|  Id|   Name|Occupation|Salary|
+----+-------+----------+------+
|   1|Mrinmoy| Air-force|  2000|
|   2| Dhruba| Air-force|  5000|
|   3|  Subho|      Navy|  7000|
|   4|   Aabu|      Food| 20000|
|   5|    Tia|    Makeup|  6000|
|   6|   Diya|    Makeup| 10000|
|   7| Bishal|  Engineer|  1000|
|   8|   Jina|    Makeup| 20000|
|   9|  Bittu|      Navy| 20000|
|  10|   Abhi|    Fruits| 50000|
|  11|  Bishu|Vegetables|100000|
|  12|   Bidu|      Farm| 20000|
|  13|  Munna|      Farm| 20000|
|  14|  Dabbu|   Alcohol| 20001|
|  15|  Bulti|    Makeup|  9000|
|  16|  datta|  Engineer|    20|
|  17|   Abhi|   Vehicle| 30000|
|null|   null|      null|  null|
+----+-------+----------+------+

In [65]:
duplicate = duplicate.na.drop()

In [67]:
duplicate.show()

+---+-------+----------+------+
| Id|   Name|Occupation|Salary|
+---+-------+----------+------+
|  1|Mrinmoy| Air-force|  2000|
|  2| Dhruba| Air-force|  5000|
|  3|  Subho|      Navy|  7000|
|  4|   Aabu|      Food| 20000|
|  5|    Tia|    Makeup|  6000|
|  6|   Diya|    Makeup| 10000|
|  7| Bishal|  Engineer|  1000|
|  8|   Jina|    Makeup| 20000|
|  9|  Bittu|      Navy| 20000|
| 10|   Abhi|    Fruits| 50000|
| 11|  Bishu|Vegetables|100000|
| 12|   Bidu|      Farm| 20000|
| 13|  Munna|      Farm| 20000|
| 14|  Dabbu|   Alcohol| 20001|
| 15|  Bulti|    Makeup|  9000|
| 16|  datta|  Engineer|    20|
| 17|   Abhi|   Vehicle| 30000|
+---+-------+----------+------+

In [77]:
mywindow = Window.partitionBy("Occupation").orderBy("Salary")

In [78]:
duplicate.withColumn("Rank", rank().over(mywindow)).show()

+---+-------+----------+------+----+
| Id|   Name|Occupation|Salary|Rank|
+---+-------+----------+------+----+
|  1|Mrinmoy| Air-force|  2000|   1|
|  2| Dhruba| Air-force|  5000|   2|
|  4|   Aabu|      Food| 20000|   1|
| 12|   Bidu|      Farm| 20000|   1|
| 13|  Munna|      Farm| 20000|   1|
| 11|  Bishu|Vegetables|100000|   1|
| 16|  datta|  Engineer|    20|   1|
|  7| Bishal|  Engineer|  1000|   2|
| 14|  Dabbu|   Alcohol| 20001|   1|
| 10|   Abhi|    Fruits| 50000|   1|
|  3|  Subho|      Navy|  7000|   1|
|  9|  Bittu|      Navy| 20000|   2|
| 17|   Abhi|   Vehicle| 30000|   1|
|  5|    Tia|    Makeup|  6000|   1|
| 15|  Bulti|    Makeup|  9000|   2|
|  6|   Diya|    Makeup| 10000|   3|
|  8|   Jina|    Makeup| 20000|   4|
+---+-------+----------+------+----+

In [79]:
duplicate.withColumn("Dense Rank", dense_rank().over(mywindow)).show()

+---+-------+----------+------+----------+
| Id|   Name|Occupation|Salary|Dense Rank|
+---+-------+----------+------+----------+
|  1|Mrinmoy| Air-force|  2000|         1|
|  2| Dhruba| Air-force|  5000|         2|
|  4|   Aabu|      Food| 20000|         1|
| 12|   Bidu|      Farm| 20000|         1|
| 13|  Munna|      Farm| 20000|         1|
| 11|  Bishu|Vegetables|100000|         1|
| 16|  datta|  Engineer|    20|         1|
|  7| Bishal|  Engineer|  1000|         2|
| 14|  Dabbu|   Alcohol| 20001|         1|
| 10|   Abhi|    Fruits| 50000|         1|
|  3|  Subho|      Navy|  7000|         1|
|  9|  Bittu|      Navy| 20000|         2|
| 17|   Abhi|   Vehicle| 30000|         1|
|  5|    Tia|    Makeup|  6000|         1|
| 15|  Bulti|    Makeup|  9000|         2|
|  6|   Diya|    Makeup| 10000|         3|
|  8|   Jina|    Makeup| 20000|         4|
+---+-------+----------+------+----------+

In [81]:
result = duplicate.groupBy("Occupation").pivot("Name").agg(sum("Salary"))
result.show()

+----------+-----+-----+-----+------+------+-----+-----+-----+------+-----+-----+-------+-----+-----+----+-----+
|Occupation| Aabu| Abhi| Bidu|Bishal| Bishu|Bittu|Bulti|Dabbu|Dhruba| Diya| Jina|Mrinmoy|Munna|Subho| Tia|datta|
+----------+-----+-----+-----+------+------+-----+-----+-----+------+-----+-----+-------+-----+-----+----+-----+
| Air-force| null| null| null|  null|  null| null| null| null|  5000| null| null|   2000| null| null|null| null|
|      Food|20000| null| null|  null|  null| null| null| null|  null| null| null|   null| null| null|null| null|
|      Farm| null| null|20000|  null|  null| null| null| null|  null| null| null|   null|20000| null|null| null|
|Vegetables| null| null| null|  null|100000| null| null| null|  null| null| null|   null| null| null|null| null|
|  Engineer| null| null| null|  1000|  null| null| null| null|  null| null| null|   null| null| null|null|   20|
|   Alcohol| null| null| null|  null|  null| null| null|20001|  null| null| null|   null| null| null|null| null|
|    Fruits| null|50000| null|  null|  null| null| null| null|  null| null| null|   null| null| null|null| null|
|      Navy| null| null| null|  null|  null|20000| null| null|  null| null| null|   null| null| 7000|null| null|
|   Vehicle| null|30000| null|  null|  null| null| null| null|  null| null| null|   null| null| null|null| null|
|    Makeup| null| null| null|  null|  null| null| 9000| null|  null|10000|20000|   null| null| null|6000| null|
+----------+-----+-----+-----+------+------+-----+-----+-----+------+-----+-----+-------+-----+-----+----+-----+