In [8]:
from pyspark.sql import SparkSession
import getpass
username = getpass.getuser()
spark= SparkSession. \
builder. \
appName("itv009033_week08_atheletes_data"). \
config('spark.ui.port','0'). \
config("spark.sql.warehouse.dir", f"/user/itv009033/warehouse"). \
enableHiveSupport(). \
master('yarn'). \
getOrCreate()

In [9]:
atheletes = spark.read.format("csv").option("header","true").option("inferSchema",'true').load("atheletes/athlete_events.csv")
atheletes.show(truncate = False)

+---+------------------------+---+---+------+------+--------------+---+-----------+----+------+-----------+--------------------+---------------------------------------------------+-----+
|ID |Name                    |Sex|Age|Height|Weight|Team          |NOC|Games      |Year|Season|City       |Sport               |Event                                              |Medal|
+---+------------------------+---+---+------+------+--------------+---+-----------+----+------+-----------+--------------------+---------------------------------------------------+-----+
|1  |A Dijiang               |M  |24 |180   |80    |China         |CHN|1992 Summer|1992|Summer|Barcelona  |Basketball          |Basketball Men's Basketball                        |NA   |
|2  |A Lamusi                |M  |23 |170   |60    |China         |CHN|2012 Summer|2012|Summer|London     |Judo                |Judo Men's Extra-Lightweight                       |NA   |
|3  |Gunnar Nielsen Aaby     |M  |24 |NA    |NA    |Denmark       |DEN|1920 Summer|1920|Summer|Antwerpen  |Football            |Football Men's Football                            |NA   |
|4  |Edgar Lindenau Aabye    |M  |34 |NA    |NA    |Denmark/Sweden|DEN|1900 Summer|1900|Summer|Paris      |Tug-Of-War          |Tug-Of-War Men's Tug-Of-War                        |Gold |
|5  |Christine Jacoba Aaftink|F  |21 |185   |82    |Netherlands   |NED|1988 Winter|1988|Winter|Calgary    |Speed Skating       |Speed Skating Women's 500 metres                   |NA   |
|5  |Christine Jacoba Aaftink|F  |21 |185   |82    |Netherlands   |NED|1988 Winter|1988|Winter|Calgary    |Speed Skating       |Speed Skating Women's 1,000 metres                 |NA   |
|5  |Christine Jacoba Aaftink|F  |25 |185   |82    |Netherlands   |NED|1992 Winter|1992|Winter|Albertville|Speed Skating       |Speed Skating Women's 500 metres                   |NA   |
|5  |Christine Jacoba Aaftink|F  |25 |185   |82    |Netherlands   |NED|1992 Winter|1992|Winter|Albertville|Speed Skating       |Speed Skating Women's 1,000 metres                 |NA   |
|5  |Christine Jacoba Aaftink|F  |27 |185   |82    |Netherlands   |NED|1994 Winter|1994|Winter|Lillehammer|Speed Skating       |Speed Skating Women's 500 metres                   |NA   |
|5  |Christine Jacoba Aaftink|F  |27 |185   |82    |Netherlands   |NED|1994 Winter|1994|Winter|Lillehammer|Speed Skating       |Speed Skating Women's 1,000 metres                 |NA   |
|6  |Per Knut Aaland         |M  |31 |188   |75    |United States |USA|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Skiing Men's 10 kilometres           |NA   |
|6  |Per Knut Aaland         |M  |31 |188   |75    |United States |USA|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Skiing Men's 50 kilometres           |NA   |
|6  |Per Knut Aaland         |M  |31 |188   |75    |United States |USA|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Skiing Men's 10/15 kilometres Pursuit|NA   |
|6  |Per Knut Aaland         |M  |31 |188   |75    |United States |USA|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Skiing Men's 4 x 10 kilometres Relay |NA   |
|6  |Per Knut Aaland         |M  |33 |188   |75    |United States |USA|1994 Winter|1994|Winter|Lillehammer|Cross Country Skiing|Cross Country Skiing Men's 10 kilometres           |NA   |
|6  |Per Knut Aaland         |M  |33 |188   |75    |United States |USA|1994 Winter|1994|Winter|Lillehammer|Cross Country Skiing|Cross Country Skiing Men's 30 kilometres           |NA   |
|6  |Per Knut Aaland         |M  |33 |188   |75    |United States |USA|1994 Winter|1994|Winter|Lillehammer|Cross Country Skiing|Cross Country Skiing Men's 10/15 kilometres Pursuit|NA   |
|6  |Per Knut Aaland         |M  |33 |188   |75    |United States |USA|1994 Winter|1994|Winter|Lillehammer|Cross Country Skiing|Cross Country Skiing Men's 4 x 10 kilometres Relay |NA   |
|7  |John Aalberg            |M  |31 |183   |72    |United States |USA|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Skiing Men's 10 kilometres           |NA   |
|7  |John Aalberg            |M  |31 |183   |72    |United States |USA|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Skiing Men's 50 kilometres           |NA   |
+---+------------------------+---+---+------+------+--------------+---+-----------+----+------+-----------+--------------------+---------------------------------------------------+-----+
only showing top 20 rows

In [10]:
atheletes.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Height: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- Team: string (nullable = true)
 |-- NOC: string (nullable = true)
 |-- Games: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Season: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Sport: string (nullable = true)
 |-- Event: string (nullable = true)
 |-- Medal: string (nullable = true)

1. How many olympics games have been held?

In [11]:
from pyspark.sql.functions import countDistinct

atheletes.select(countDistinct("Games")).show()

+---------------------+
|count(DISTINCT Games)|
+---------------------+
|                   80|
+---------------------+

In [12]:
df2 = atheletes.select("Year", "Season", "City")
df2.show()

+----+------+-----------+
|Year|Season|       City|
+----+------+-----------+
|1992|Summer|  Barcelona|
|2012|Summer|     London|
|1920|Summer|  Antwerpen|
|1900|Summer|      Paris|
|1988|Winter|    Calgary|
|1988|Winter|    Calgary|
|1992|Winter|Albertville|
|1992|Winter|Albertville|
|1994|Winter|Lillehammer|
|1994|Winter|Lillehammer|
|1992|Winter|Albertville|
|1992|Winter|Albertville|
|1992|Winter|Albertville|
|1992|Winter|Albertville|
|1994|Winter|Lillehammer|
|1994|Winter|Lillehammer|
|1994|Winter|Lillehammer|
|1994|Winter|Lillehammer|
|1992|Winter|Albertville|
|1992|Winter|Albertville|
+----+------+-----------+
only showing top 20 rows

In [13]:
df2.select("Year", "Season", "City").distinct().sort("Year").show(truncate = False)

+-----------+------+------------+
|Year       |Season|City        |
+-----------+------+------------+
|1896       |Summer|Athina      |
|1900       |Summer|Paris       |
|1900 Summer|1900  |Summer      |
|1904       |Summer|St. Louis   |
|1904 Summer|1904  |Summer      |
|1906       |Summer|Athina      |
|1906 Summer|1906  |Summer      |
|1908       |Summer|London      |
|1908 Summer|1908  |Summer      |
|1912       |Summer|Stockholm   |
|1912 Summer|1912  |Summer      |
|1920       |Summer|Antwerpen   |
|1920 Summer|1920  |Summer      |
|1924       |Summer|Paris       |
|1924       |Winter|Chamonix    |
|1924 Summer|1924  |Summer      |
|1928       |Summer|Amsterdam   |
|1928       |Winter|Sankt Moritz|
|1928 Summer|1928  |Summer      |
|1928 Winter|1928  |Winter      |
+-----------+------+------------+
only showing top 20 rows

In [14]:
df2.show()

+----+------+-----------+
|Year|Season|       City|
+----+------+-----------+
|1992|Summer|  Barcelona|
|2012|Summer|     London|
|1920|Summer|  Antwerpen|
|1900|Summer|      Paris|
|1988|Winter|    Calgary|
|1988|Winter|    Calgary|
|1992|Winter|Albertville|
|1992|Winter|Albertville|
|1994|Winter|Lillehammer|
|1994|Winter|Lillehammer|
|1992|Winter|Albertville|
|1992|Winter|Albertville|
|1992|Winter|Albertville|
|1992|Winter|Albertville|
|1994|Winter|Lillehammer|
|1994|Winter|Lillehammer|
|1994|Winter|Lillehammer|
|1994|Winter|Lillehammer|
|1992|Winter|Albertville|
|1992|Winter|Albertville|
+----+------+-----------+
only showing top 20 rows

In [15]:
regions = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("atheletes/noc_regions.csv")
regions.show()

+---+--------------+--------------------+
|NOC|        region|               notes|
+---+--------------+--------------------+
|AFG|   Afghanistan|                null|
|AHO|       Curacao|Netherlands Antilles|
|ALB|       Albania|                null|
|ALG|       Algeria|                null|
|AND|       Andorra|                null|
|ANG|        Angola|                null|
|ANT|       Antigua| Antigua and Barbuda|
|ANZ|     Australia|         Australasia|
|ARG|     Argentina|                null|
|ARM|       Armenia|                null|
|ARU|         Aruba|                null|
|ASA|American Samoa|                null|
|AUS|     Australia|                null|
|AUT|       Austria|                null|
|AZE|    Azerbaijan|                null|
|BAH|       Bahamas|                null|
|BAN|    Bangladesh|                null|
|BAR|      Barbados|                null|
|BDI|       Burundi|                null|
|BEL|       Belgium|                null|
+---+--------------+--------------------+
only showing top 20 rows

In [16]:
regions = regions.drop("notes")

In [17]:
regions.show()

+---+--------------+
|NOC|        region|
+---+--------------+
|AFG|   Afghanistan|
|AHO|       Curacao|
|ALB|       Albania|
|ALG|       Algeria|
|AND|       Andorra|
|ANG|        Angola|
|ANT|       Antigua|
|ANZ|     Australia|
|ARG|     Argentina|
|ARM|       Armenia|
|ARU|         Aruba|
|ASA|American Samoa|
|AUS|     Australia|
|AUT|       Austria|
|AZE|    Azerbaijan|
|BAH|       Bahamas|
|BAN|    Bangladesh|
|BAR|      Barbados|
|BDI|       Burundi|
|BEL|       Belgium|
+---+--------------+
only showing top 20 rows

In [18]:
atheletes.show(truncate = False)

+---+------------------------+---+---+------+------+--------------+---+-----------+----+------+-----------+--------------------+---------------------------------------------------+-----+
|ID |Name                    |Sex|Age|Height|Weight|Team          |NOC|Games      |Year|Season|City       |Sport               |Event                                              |Medal|
+---+------------------------+---+---+------+------+--------------+---+-----------+----+------+-----------+--------------------+---------------------------------------------------+-----+
|1  |A Dijiang               |M  |24 |180   |80    |China         |CHN|1992 Summer|1992|Summer|Barcelona  |Basketball          |Basketball Men's Basketball                        |NA   |
|2  |A Lamusi                |M  |23 |170   |60    |China         |CHN|2012 Summer|2012|Summer|London     |Judo                |Judo Men's Extra-Lightweight                       |NA   |
|3  |Gunnar Nielsen Aaby     |M  |24 |NA    |NA    |Denmark       |DEN|1920 Summer|1920|Summer|Antwerpen  |Football            |Football Men's Football                            |NA   |
|4  |Edgar Lindenau Aabye    |M  |34 |NA    |NA    |Denmark/Sweden|DEN|1900 Summer|1900|Summer|Paris      |Tug-Of-War          |Tug-Of-War Men's Tug-Of-War                        |Gold |
|5  |Christine Jacoba Aaftink|F  |21 |185   |82    |Netherlands   |NED|1988 Winter|1988|Winter|Calgary    |Speed Skating       |Speed Skating Women's 500 metres                   |NA   |
|5  |Christine Jacoba Aaftink|F  |21 |185   |82    |Netherlands   |NED|1988 Winter|1988|Winter|Calgary    |Speed Skating       |Speed Skating Women's 1,000 metres                 |NA   |
|5  |Christine Jacoba Aaftink|F  |25 |185   |82    |Netherlands   |NED|1992 Winter|1992|Winter|Albertville|Speed Skating       |Speed Skating Women's 500 metres                   |NA   |
|5  |Christine Jacoba Aaftink|F  |25 |185   |82    |Netherlands   |NED|1992 Winter|1992|Winter|Albertville|Speed Skating       |Speed Skating Women's 1,000 metres                 |NA   |
|5  |Christine Jacoba Aaftink|F  |27 |185   |82    |Netherlands   |NED|1994 Winter|1994|Winter|Lillehammer|Speed Skating       |Speed Skating Women's 500 metres                   |NA   |
|5  |Christine Jacoba Aaftink|F  |27 |185   |82    |Netherlands   |NED|1994 Winter|1994|Winter|Lillehammer|Speed Skating       |Speed Skating Women's 1,000 metres                 |NA   |
|6  |Per Knut Aaland         |M  |31 |188   |75    |United States |USA|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Skiing Men's 10 kilometres           |NA   |
|6  |Per Knut Aaland         |M  |31 |188   |75    |United States |USA|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Skiing Men's 50 kilometres           |NA   |
|6  |Per Knut Aaland         |M  |31 |188   |75    |United States |USA|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Skiing Men's 10/15 kilometres Pursuit|NA   |
|6  |Per Knut Aaland         |M  |31 |188   |75    |United States |USA|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Skiing Men's 4 x 10 kilometres Relay |NA   |
|6  |Per Knut Aaland         |M  |33 |188   |75    |United States |USA|1994 Winter|1994|Winter|Lillehammer|Cross Country Skiing|Cross Country Skiing Men's 10 kilometres           |NA   |
|6  |Per Knut Aaland         |M  |33 |188   |75    |United States |USA|1994 Winter|1994|Winter|Lillehammer|Cross Country Skiing|Cross Country Skiing Men's 30 kilometres           |NA   |
|6  |Per Knut Aaland         |M  |33 |188   |75    |United States |USA|1994 Winter|1994|Winter|Lillehammer|Cross Country Skiing|Cross Country Skiing Men's 10/15 kilometres Pursuit|NA   |
|6  |Per Knut Aaland         |M  |33 |188   |75    |United States |USA|1994 Winter|1994|Winter|Lillehammer|Cross Country Skiing|Cross Country Skiing Men's 4 x 10 kilometres Relay |NA   |
|7  |John Aalberg            |M  |31 |183   |72    |United States |USA|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Skiing Men's 10 kilometres           |NA   |
|7  |John Aalberg            |M  |31 |183   |72    |United States |USA|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Skiing Men's 50 kilometres           |NA   |
+---+------------------------+---+---+------+------+--------------+---+-----------+----+------+-----------+--------------------+---------------------------------------------------+-----+
only showing top 20 rows